openapi: 3.0.0
info:
  title: ScrapIn API
  version: 1.0.0
servers:
  - url: https://api.scrapin.io
security:
  - apiKey: []
tags:
  - name: Person
  - name: Company
  - name: Job
  - name: Workspaces
paths:
  "/enrichment":
    get:
      tags:
        - Person
      operationId: PersonSearch
      summary: Person Search
      description: This operation allows you to find a LinkedIn User based on first name, last name, company domain, or email. It returns profile data and company information as the response. This operation consumes 1 credit.
      parameters:
        - name: firstName
          in: query
          schema:
            type: string
          description: This optional parameter is a string. It represents the first name to query.
        - name: lastName
          in: query
          schema:
            type: string
          description: This optional parameter is a string. It represents the last name to query.
        - name: companyDomain
          in: query
          schema:
            type: string
          description: This optional parameter is a string. It represents the company domain/URL to query.
        - name: companyName
          in: query
          schema:
            type: string
          description: This optional parameter is a string. It represents the company name to query.
        - name: email
          in: query
          schema:
            type: string
          description: This required parameter is a string. It represents the email to query.
      responses:
        200:
          description: "The endpoint found and returned information about the query."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonSearch"
              examples:
                ProfileFound:
                  $ref: "#/components/examples/ProfileFound"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/enrichment/profile":
    get:
      tags:
        - Person
      operationId: ExtractPersonDataProfile
      summary: Extract Person Data Profile
      description: This operation allows you to extract data from a Person LinkedIn URL. It returns profile data and current company data of the person as the response. This operation consumes 1 credit.
      parameters:
        - name: linkedInUrl
          in: query
          schema:
            type: string
          description: "This required parameter is a string. It represents the LinkedIn URL of the person with this format: https://www.linkedin.com/in/xxxxxxxxxxxxx/."
          required: true
      responses:
        200:
          description: "The endpoint returns information about the LinkedIn URL owner and their company."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtractPersonDataProfile"
              examples:
                ProfileFound:
                  $ref: "#/components/examples/PersonProfileExtracted"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/enrichment/company/domain":
    get:
      tags:
        - Company
      operationId: CompanySearch
      summary: Company Search
      description: This operation allows you to find a company from its domain name. It returns company information as the response. This operation consumes 1 credit.
      parameters:
        - name: domain
          in: query
          schema:
            type: string
          description: "This required parameter is a string. It represents the domain name of the company to query."
          required: true
      responses:
        200:
          description: "The endpoint returns information about the company."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanySearch"
              examples:
                CompanyFound:
                  $ref: "#/components/examples/CompanyFound"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/enrichment/company":
    get:
      tags:
        - Company
      operationId: ExtractCompanyDataProfile
      summary: Extract Company Data Profile
      description: This operation allows you to extract data from a Company LinkedIn URL. It returns company data as the response. This operation consumes 1 credit.
      parameters:
        - name: linkedInUrl
          in: query
          schema:
            type: string
          description: "This required parameter is a string. It represents the LinkedIn URL of the company with this format: https://www.linkedin.com/company/xxxxxxxxxx/."
          required: true
      responses:
        200:
          description: "The endpoint returns information about the company."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtractCompanyDataProfile"
              examples:
                CompanyFound:
                  $ref: "#/components/examples/CompanyProfileExtracted"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/enrichment/jobs/search":
    get:
      tags:
        - Job
      operationId: JobSearch
      summary: Extract Job Search Data
      description: This operation allows you to extract data from a Job Search by keywords, location and companyUrl filters. At least one of the input parameters is required. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. It returns a list of job data as the response. This operation consumes 1 credit.
      parameters:
        - name: keywords
          in: query
          schema:
            type: string
          description: "This required parameter is a string. It represents the keywords contained by the job title."
          required: false
        - name: location
          in: query
          schema:
            type: string
          description: "This required parameter is a string. It represents the location of the job. It can be the city, the region, or the country name."
          required: false
        - name: companyUrl
          in: query
          schema:
            type: string
          description: "This required parameter is a string. It represents the LinkedIn URL of the company with this format: https://www.linkedin.com/company/xxxxxxxxxx/."
          required: false
        - name: page
          in: query
          required: false
          schema:
            type: number
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          description: This optional parameter is a number. It represents the page number of the results.
      responses:
        200:
          description: "The endpoint returns a list of jobs."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobSearch"
              examples:
                JobFound:
                  $ref: "#/components/examples/JobListExtracted"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/enrichment/jobs/details":
    get:
      tags:
        - Job
      operationId: ExtractJobData
      summary: Extract Job Data
      description: This operation allows you to extract data from a Job LinkedIn URL. It returns job data as the response. This operation consumes 1 credit.
      parameters:
        - name: url
          in: query
          schema:
            type: string
          description: "This required parameter is a string. It represents the LinkedIn URL of the job with the following formats: https://www.linkedin.com/jobs/collections/recommended/?currentJobId=XXXXXXXXXX, https://www.linkedin.com/jobs/search/?currentJobId=XXXXXXXXXX or https://www.linkedin.com/jobs/view/XXXXXXXXXX/."
          required: true
      responses:
        200:
          description: "The endpoint returns information about the job."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtractJobData"
              examples:
                JobFound:
                  $ref: "#/components/examples/JobExtracted"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/workspaces/quotas":
    get:
      tags:
        - Workspaces
      operationId: WorkspacesQuotas
      summary: Workspaces Quotas
      description: This endpoint retrieves the quotas for a specific workspace, including the remaining credits (credits_left) and rate limit (rate_limit_left). It is designed to help monitor resource availability and ensure proper usage within the workspace.
      responses:
        200:
          description: "The endpoint returns information about the workspace quotas, including remaining credits (credits_left) and rate limit (rate_limit_left)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspacesQuotas"
              examples:
                QuotasFound:
                  $ref: "#/components/examples/QuotasFound"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/enrichment/persons/activities/post":
    get:
      tags:
        - Person
      operationId: PersonsActivitiesPost
      summary: Get Person Activities Post
      description: This operation allows you to retrieve the LinkedIn activity post details of a person based on their activity post ID. This operation consumes 1 credit.
      parameters:
        - name: activityId
          in: query
          required: false
          schema:
            type: string
          description: This parameter is a string. It represents the ID of the activity post you want to retrieve.
        - name: postId
          in: query
          required: false
          schema:
            type: string
          description: This parameter is a string. It represents the ID of the post you want to retrieve.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity post from activityId or postId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesPost"
              examples:
                Activities Post Found:
                  $ref: "#/components/examples/ActivitiesPost"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/persons/activities/posts":
    get:
      tags:
        - Person
      operationId: PersonsActivitiesPosts
      summary: Get Person Activities Posts
      description: This operation allows you to retrieve the last 50 LinkedIn activity posts of a person based on their LinkedIn Profile URL. This operation consumes 1 credit.
      parameters:
        - name: linkedInUrl
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the LinkedIn Profile URL from which you want to retrieve all LinkedIn activity posts.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity posts from LinkedIn Profile URL"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesPosts"
              examples:
                Activities Posts Found:
                  $ref: "#/components/examples/ActivitiesPosts"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/persons/activities/comments":
    get:
      tags:
        - Person
      operationId: PersonsActivitiesComments
      summary: Get Person Activities Comments
      description: This operation allows you to retrieve the last 50 LinkedIn activity comments of a person based on their LinkedIn Profile URL. This operation consumes 1 credit.
      parameters:
        - name: linkedInUrl
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the LinkedIn Profile URL from which you want to retrieve all LinkedIn activity comments.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity comments from LinkedIn Profile URL"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesComments"
              examples:
                Activities Comments Found:
                  $ref: "#/components/examples/ActivitiesComments"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/persons/activities/reactions":
    get:
      tags:
        - Person
      operationId: PersonsActivitiesReactions
      summary: Get Person Activities Reactions
      description: This operation allows you to retrieve the last 50 LinkedIn activity reactions of a person based on their LinkedIn Profile URL. This operation consumes 1 credit.
      parameters:
        - name: linkedInUrl
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the LinkedIn Profile URL from which you want to retrieve all LinkedIn activity reactions.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity reactions from LinkedIn Profile URL"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesReactions"
              examples:
                Activities Reactions Found:
                  $ref: "#/components/examples/ActivitiesReactions"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/enrichment/persons/activities/post/comments":
    get:
      tags:
        - Person
      operationId: PersonsActivitiesPostComments
      summary: Get Person Activities Post Comments
      description: This operation allows you to retrieve all comments on LinkedIn activity post of a person based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.
      parameters:
        - name: activityId
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the ID of the activity post from which you want to retrieve comments.
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: This optional parameter is a number. It represents the page number of the results.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity post comments from activityId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesComment"
              examples:
                Activities Post Comments Found:
                  $ref: "#/components/examples/ActivitiesComment"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/persons/activities/post/reactions":
    get:
      tags:
        - Person
      operationId: PersonsActivitiesPostReactions
      summary: Get Person Activities Post Reactions
      description: This operation allows you to retrieve all reactions on LinkedIn activity post of a person based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.
      parameters:
        - name: activityId
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the ID of the activity post from which you want to retrieve reactions.
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: This optional parameter is a number. It represents the page number of the results.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity post reactions from activityId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesReaction"
              examples:
                Activities Post Reactions Found:
                  $ref: "#/components/examples/ActivitiesReaction"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/persons/activities/post/reposts":
    get:
      tags:
        - Person
      operationId: PersonsActivitiesPostReposts
      summary: Get Person Activities Post Reposts
      description: This operation allows you to retrieve all reposts on LinkedIn activity post of a person based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.
      parameters:
        - name: activityId
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the ID of the activity post from which you want to retrieve reposts.
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: This optional parameter is a number. It represents the page number of the results.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity post reposts from activityId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesRepost"
              examples:
                Activities Post Reposts Found:
                  $ref: "#/components/examples/ActivitiesRepost"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

  "/enrichment/companies/activities/post":
    get:
      tags:
        - Company
      operationId: CompaniesActivitiesPost
      summary: Get Company Activities Post
      description: This operation allows you to retrieve the LinkedIn activity post details of a company based on their activity post ID. This operation consumes 1 credit.
      parameters:
        - name: activityId
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the ID of the activity post you want to retrieve.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity post from activityId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesPost"
              examples:
                Activities Post Found:
                  $ref: "#/components/examples/ActivitiesPost"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/companies/activities/posts":
    get:
      tags:
        - Company
      operationId: CompaniesActivitiesPosts
      summary: Get Company Activities Posts
      description: This operation allows you to retrieve all LinkedIn activity posts of a company based on their LinkedIn Profile URL. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.
      parameters:
        - name: linkedInUrl
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the LinkedIn Profile URL from which you want to retrieve all LinkedIn activity posts.
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: This optional parameter is a number. It represents the page number of the results.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity posts from LinkedIn Profile URL"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyActivitiesPosts"
              examples:
                Activities Posts Found:
                  $ref: "#/components/examples/CompanyActivitiesPosts"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/companies/activities/post/comments":
    get:
      tags:
        - Company
      operationId: CompaniesActivitiesPostComments
      summary: Get Company Activities Post Comments
      description: This operation allows you to retrieve all comments on LinkedIn activity post of a company based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.
      parameters:
        - name: activityId
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the ID of the activity post from which you want to retrieve comments.
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: This optional parameter is a number. It represents the page number of the results.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity post comments from activityId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesComment"
              examples:
                Activities Post Comments Found:
                  $ref: "#/components/examples/ActivitiesComment"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/companies/activities/post/reactions":
    get:
      tags:
        - Company
      operationId: CompaniesActivitiesPostReactions
      summary: Get Company Activities Post Reactions
      description: This operation allows you to retrieve all reactions on LinkedIn activity post of a company based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.
      parameters:
        - name: activityId
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the ID of the activity post from which you want to retrieve reactions.
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: This optional parameter is a number. It represents the page number of the results.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity post reactions from activityId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesReaction"
              examples:
                Activities Post Reactions Found:
                  $ref: "#/components/examples/ActivitiesReaction"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"
  "/enrichment/companies/activities/post/reposts":
    get:
      tags:
        - Company
      operationId: CompaniesActivitiesPostReposts
      summary: Get Company Activities Post Reposts
      description: This operation allows you to retrieve all reposts on LinkedIn activity post of a company based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.
      parameters:
        - name: activityId
          in: query
          required: true
          schema:
            type: string
          description: This required parameter is a string. It represents the ID of the activity post from which you want to retrieve reposts.
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: This optional parameter is a number. It represents the page number of the results.
      responses:
        200:
          description: "The endpoint returns the LinkedIn activity post reposts from activityId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivitiesRepost"
              examples:
                Activities Post Reposts Found:
                  $ref: "#/components/examples/ActivitiesRepost"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        402:
          $ref: "#/components/responses/PaymentRequired"
        404:
          $ref: "#/components/responses/NotFound"
        500:
          $ref: "#/components/responses/ServerError"

components:
  schemas:
    PersonSearch:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        email:
          type: string
          description: Represents the email of the person account that was queried.
        emailType:
          type: string
          description: Represents the type of account.
        person:
          oneOf:
            - $ref: "#/components/schemas/Person"
            - type: boolean
              enum:
                - false
        company:
          oneOf:
            - $ref: "#/components/schemas/Company"
            - type: boolean
              enum:
                - false
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
    Post:
      type: object
      properties:
        text:
          type: string
          description: Content of the post.
        likesCount:
          type: integer
          description: Number of likes on the post.
        commentsCount:
          type: integer
          description: Number of comments on the post.
        activityDate:
          type: string
          format: date-time
          description: Date and time when the post was created.
        author:
          type: object
          description: Information about the post author.
          properties:
            authorId:
              type: string
              description: Unique identifier of the post author.
            authorName:
              type: string
              description: Name of the post author.
            authorPublicIdentifier:
              type: string
              description: Public identifier of the post author.
        activityUrl:
          type: string
          description: URL of the post on LinkedIn.
        isRepublishedPost:
          type: boolean
          description: Indicates if this post is a republished post from another user.
        relatedPost:
          type: object
          description: Information about the original post if this is a republished post.
          properties:
            text:
              type: string
              description: Content of the related post.
            likesCount:
              type: integer
              description: Number of likes on the related post.
            commentsCount:
              type: integer
              description: Number of comments on the related post.
            activityDate:
              type: string
              format: date-time
              description: Date and time when the related post was created.
            authorId:
              type: string
              description: Unique identifier of the related post author.
            authorPublicIdentifier:
              type: string
              description: Public identifier of the related post author.
            authorName:
              type: string
              description: Name of the related post author.
            activityUrl:
              type: string
              description: URL of the related post on LinkedIn.
            relatedPost:
              type: object
              nullable: true
              description: Nested related post (if any).
    Comment:
      type: object
      properties:
        text:
          type: string
          description: Content of the comment.
        likesCount:
          type: integer
          description: Number of likes on the comment.
        commentsCount:
          type: integer
          description: Number of replies to the comment.
        activityDate:
          type: string
          format: date-time
          description: Date and time when the comment was created.
        authorId:
          type: string
          description: Unique identifier of the comment author.
        authorName:
          type: string
          description: Name of the comment author.
        authorPublicIdentifier:
          type: string
          description: Public identifier of the comment author.
        post:
          $ref: "#/components/schemas/Post"
          description: The post on which this comment was made.
        activityUrl:
          type: string
          description: URL of the comment on LinkedIn.
    Reaction:
      type: object
      properties:
        type:
          type: string
          description: Type of reaction (e.g., "LIKE", "CELEBRATE", etc.).
        activityDate:
          type: string
          format: date-time
          description: Date and time when the reaction was made.
        authorId:
          type: string
          description: Unique identifier of the person who made the reaction.
        authorName:
          type: string
          description: Name of the person who made the reaction.
        authorPublicIdentifier:
          type: string
          description: Public identifier of the person who made the reaction.
        relatedPost:
          $ref: "#/components/schemas/Post"
          description: The post on which this reaction was made.
        relatedComment:
          $ref: "#/components/schemas/Comment"
          nullable: true
          description: The comment on which this reaction was made (if applicable).
        activityUrl:
          type: string
          description: URL of the reaction on LinkedIn.
    Person:
      type: object
      properties:
        creationDate:
          type: object
          properties:
            month:
              type: number
            year:
              type: number
        firstName:
          type: string
        followerCount:
          type: number
        headline:
          type: string
        summary:
          type: string
        languages:
          type: array
          items:
            type: string
        lastName:
          type: string
        linkedInIdentifier:
          type: string
        linkedInUrl:
          type: string
        location:
          type: string
        photoUrl:
          type: string
        backgroundUrl:
          type: string
        openToWork:
          type: boolean
        premium:
          type: boolean
        positions:
          type: object
          properties:
            positionHistory:
              type: array
              items:
                type: object
                properties:
                  companyLocation:
                    type: string
                  companyLogo:
                    type: string
                  companyName:
                    type: string
                  description:
                    type: string
                  linkedInUrl:
                    type: string
                  startEndDate:
                    type: object
                    properties:
                      start:
                        type: object
                        properties:
                          month:
                            type: number
                          year:
                            type: number
                      end:
                        type: object
                        properties:
                          month:
                            type: number
                          year:
                            type: number
                  title:
                    type: string
                  contractType:
                    type: string
            positionsCount:
              type: number
        publicIdentifier:
          type: string
        memberIdentifier:
          type: string
        schools:
          type: object
          properties:
            educationHistory:
              type: array
              items:
                type: object
                properties:
                  degreeName:
                    type: string
                  description:
                    type: string
                  fieldOfStudy:
                    type: string
                  linkedInUrl:
                    type: string
                  schoolLogo:
                    type: string
                  schoolName:
                    type: string
                  startEndDate:
                    type: object
                    properties:
                      end:
                        type: object
                        properties:
                          year:
                            type: number
                      start:
                        type: object
                        properties:
                          year:
                            type: number
            educationsCount:
              type: number
        skills:
          type: array
          items:
            type: string
    ExtractPersonDataProfile:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: The usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: The usable daily request limit available for the user account after this query.
        person:
          oneOf:
            - $ref: "#/components/schemas/Person"
            - type: boolean
              enum:
                - false
        company:
          oneOf:
            - $ref: "#/components/schemas/Company"
            - type: boolean
              enum:
                - false
    Company:
      type: object
      properties:
        description:
          type: string
        employeeCount:
          type: number
        employeeCountRange:
          type: object
          properties:
            start:
              type: number
            end:
              type: number
        followerCount:
          type: number
        headquarter:
          type: object
          properties:
            city:
              type: string
            country:
              type: string
            geographicArea:
              type: string
            postalCode:
              type: string
            street1:
              type: string
            street2:
              type: string
        industry:
          type: string
        linkedInId:
          type: string
        linkedInUrl:
          type: string
        name:
          type: string
        specialities:
          type: array
          items:
            type: string
        tagline:
          type: string
        universalName:
          type: string
        websiteUrl:
          type: string
    CompanySearch:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        company:
          oneOf:
            - $ref: "#/components/schemas/Company"
            - type: boolean
              enum:
                - false
    ExtractCompanyDataProfile:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        company:
          oneOf:
            - $ref: "#/components/schemas/Company"
            - type: boolean
              enum:
                - false
    Job:
      type: object
      properties:
        linkedinIdentifier:
          type: string
        title:
          type: string
        companyName:
          type: string
        companyLogo:
          type: string
        description:
          type: string
        location:
          type: string
        url:
          type: string
        creationDate:
          type: string
        repostedJob:
          type: boolean
        repostDate:
          type: string
        applicantsCount:
          type: number
        flexibility:
          type: string
        experienceLevel:
          type: string
        contractType:
          type: string
    JobSearch:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        metadata:
          description: Metadata information.
          $ref: "#/components/schemas/Metadata"
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/Job"
          description: Array of jobs.
    ExtractJobData:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        job:
          oneOf:
            - $ref: "#/components/schemas/Job"
            - type: boolean
              enum:
                - false
    Quotas:
      type: object
      properties:
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
    WorkspacesQuotas:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates whether the API request was successful.
        data:
          type: object
          $ref: "#/components/schemas/Quotas"
          description: Contains the quotas information for the workspace.

    Metadata:
      type: object
      properties:
        currentPage:
          type: integer
          description: The current page number being viewed.
        pageNumber:
          type: integer
          description: The total number of available pages.
        perPage:
          type: integer
          description: The number of items displayed per page.
        total:
          type: integer
          description: The total number of items available.
    PostV2:
      properties:
        activityId:
          type: string
          description: Unique identifier of the activity.
        text:
          type: string
          description: Content of the post.
        reactionsCount:
          type: integer
          description: Number of reactions on the post.
        commentsCount:
          type: integer
          description: Number of comments on the post.
        activityDate:
          type: string
          format: date-time
          description: Date and time of the activity.
        author:
          type: object
          description: Information about the author of the post.
          properties:
            authorId:
              type: string
              description: Unique identifier of the author.
            authorName:
              type: string
              description: Full name of the author.
            authorPublicIdentifier:
              type: string
              description: Public identifier of the author.
            authorHeadline:
              type: string
              description: Headline or title of the author.
            authorImage:
              type: string
              format: uri
              description: URL to the author's profile image.
            authorUrl:
              type: string
              format: uri
              description: URL to the author's LinkedIn profile.
        activityUrl:
          type: string
          format: uri
          description: URL of the activity on LinkedIn.
        shareUrl:
          type: string
          format: uri
          description: URL of the activity on LinkedIn share format.
        relatedPost:
          type: object
          description: Related post information.
          properties:
            text:
              type: string
              description: Content of the related post.
            activityDate:
              type: string
              format: date-time
              description: Date and time of the related post activity.
            author:
              type: object
              description: Information about the author of the related post.
              properties:
                authorId:
                  type: string
                  description: Unique identifier of the author.
                authorName:
                  type: string
                  description: Full name of the author.
                authorPublicIdentifier:
                  type: string
                  description: Public identifier of the author.
                authorHeadline:
                  type: string
                  description: Headline or description of the author.
                authorUrl:
                  type: string
                  format: uri
                  description: URL to the author's LinkedIn profile.
            activityUrl:
              type: string
              format: uri
              description: URL of the related post on LinkedIn.
            shareUrl:
              type: string
              format: uri
              description: URL of the activity on LinkedIn share format.
    PostsV2:
      properties:
        text:
          type: string
          description: The text content of the comment.
        reactionsCount:
          type: integer
          description: The number of reactions on the comment.
        commentsCount:
          type: integer
          description: The number of comments (replies) on the comment.
        activityDate:
          type: string
          format: date-time
          description: The date and time of the activity in ISO 8601 format.
        author:
          type: object
          description: Information about the author of the comment.
          properties:
            authorId:
              type: string
              description: The unique identifier of the author.
            authorName:
              type: string
              description: The full name of the author.
            authorPublicIdentifier:
              type: string
              description: The public identifier of the author on LinkedIn.
        activityUrl:
          type: string
          format: uri
          description: The URL of the activity on LinkedIn.
        shareUrl:
          type: string
          format: uri
          description: URL of the activity on LinkedIn share format.
        relatedPost:
          type: object
          description: Information about the related post.
          properties:
            activityId:
              type: string
              description: The unique identifier of the related post.
            text:
              type: string
              description: The text content of the related post.
            reactionsCount:
              type: integer
              description: The number of reactions on the related post.
            commentsCount:
              type: integer
              description: The number of comments on the related post.
            activityDate:
              type: string
              format: date-time
              description: The date and time of the related post activity in ISO 8601 format.
            author:
              type: object
              description: Information about the author of the related post.
              properties:
                authorId:
                  type: string
                  description: The unique identifier of the author.
                authorName:
                  type: string
                  description: The full name of the author.
                authorPublicIdentifier:
                  type: string
                  description: The public identifier of the author on LinkedIn.
            activityUrl:
              type: string
              format: uri
              description: The URL of the related post on LinkedIn.
            shareUrl:
              type: string
              format: uri
              description: URL of the activity on LinkedIn share format.
            relatedPost:
              type: object
              nullable: true
              description: Nested related post information, if any.
    CommentV2:
      properties:
        text:
          type: string
          description: The content of the comment.
        reactionsCount:
          type: integer
          description: Number of reactions on the comment.
        commentsCount:
          type: integer
          description: Number of comments (replies) to this comment.
        activityDate:
          type: integer
          format: int64
          description: Timestamp (in milliseconds) of the comment activity.
        author:
          type: object
          description: Information about the author of the comment.
          properties:
            authorId:
              type: string
              description: Unique identifier of the author.
            authorName:
              type: string
              description: Full name of the author.
            authorPublicIdentifier:
              type: string
              description: Public identifier of the author on LinkedIn.
        activityUrl:
          type: string
          format: uri
          description: URL to the LinkedIn activity or comment.
    CommentsV2:
      properties:
        text:
          type: string
          description: The text content of the comment.
        reactionsCount:
          type: integer
          description: The number of reactions on the comment.
        commentsCount:
          type: integer
          description: The number of comments (replies) on the comment.
        activityDate:
          type: string
          format: date-time
          description: The date and time of the activity in ISO 8601 format.
        author:
          type: object
          description: Information about the author of the comment.
          properties:
            authorId:
              type: string
              description: The unique identifier of the author.
            authorName:
              type: string
              description: The full name of the author.
            authorPublicIdentifier:
              type: string
              description: The public identifier of the author on LinkedIn.
        activityUrl:
          type: string
          format: uri
          description: The URL of the activity on LinkedIn.
        relatedPost:
          type: object
          description: Information about the related post.
          properties:
            activityId:
              type: string
              description: The unique identifier of the related post.
            text:
              type: string
              description: The text content of the related post.
            reactionsCount:
              type: integer
              description: The number of reactions on the related post.
            commentsCount:
              type: integer
              description: The number of comments on the related post.
            activityDate:
              type: string
              format: date-time
              description: The date and time of the related post activity in ISO 8601 format.
            author:
              type: object
              description: Information about the author of the related post.
              properties:
                authorId:
                  type: string
                  description: The unique identifier of the author.
                authorName:
                  type: string
                  description: The full name of the author.
                authorPublicIdentifier:
                  type: string
                  description: The public identifier of the author on LinkedIn.
            activityUrl:
              type: string
              format: uri
              description: The URL of the related post on LinkedIn.
            shareUrl:
              type: string
              format: uri
              description: URL of the activity on LinkedIn share format.
            relatedPost:
              type: object
              nullable: true
              description: Nested related post information, if any.
    ReactionV2:
      properties:
        type:
          type: string
          description: The type of reaction.
        author:
          type: object
          description: Information about the author who reacted.
          properties:
            authorId:
              type: string
              description: Unique identifier of the author.
            authorName:
              type: string
              description: Full name of the author.
    ReactionsV2:
      properties:
        type:
          type: string
          description: The type of reaction (e.g., LIKE, LOVE, etc.).
        author:
          type: object
          description: Information about the author who reacted.
          properties:
            authorId:
              type: string
              description: Unique identifier of the author.
            authorName:
              type: string
              description: Full name of the author.
        relatedPost:
          type: object
          description: Information about the related post.
          nullable: true
          properties:
            activityId:
              type: string
              description: Unique identifier of the related post activity.
            text:
              type: string
              description: Content of the related post.
            reactionsCount:
              type: integer
              description: Number of reactions on the related post.
            commentsCount:
              type: integer
              description: Number of comments on the related post.
            activityDate:
              type: string
              format: date-time
              description: The date and time of the related post activity.
            author:
              type: object
              description: Information about the author of the related post.
              properties:
                authorId:
                  type: string
                  description: Unique identifier of the related post author.
                authorName:
                  type: string
                  description: Full name of the related post author.
                authorPublicIdentifier:
                  type: string
                  description: Public identifier of the related post author on LinkedIn.
            activityUrl:
              type: string
              format: uri
              description: URL to the related post activity.
            shareUrl:
              type: string
              format: uri
              description: URL of the activity on LinkedIn share format.
            relatedPost:
              type: object
              nullable: true
              description: Nested related post information, if any.
    RepostV2:
      properties:
        activityDate:
          type: string
          format: date-time
          description: The date and time when the repost activity occurred.
        author:
          type: object
          description: Information about the author who reposted.
          properties:
            authorId:
              type: string
              description: Unique identifier of the author.
            authorName:
              type: string
              description: Full name of the author.
            authorPublicIdentifier:
              type: string
              description: Public identifier of the author on LinkedIn.
        activityUrl:
          type: string
          format: uri
          description: URL to the repost activity on LinkedIn.

    ActivitiesPost:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        post:
          type: object
          description: Activity post of a person.
          $ref: "#/components/schemas/PostV2"
    ActivitiesPosts:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        posts:
          type: array
          description: All activity posts of a person.
          items:
            $ref: "#/components/schemas/PostV2"
    ActivitiesComment:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        metadata:
          description: Metadata information.
          $ref: "#/components/schemas/Metadata"
        comments:
          type: array
          description: All comments of a person on a post.
          items:
            $ref: "#/components/schemas/CommentV2"
    ActivitiesComments:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        comments:
          type: array
          description: All comments of a LinkedIn profile.
          items:
            $ref: "#/components/schemas/CommentsV2"
    ActivitiesReaction:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        metadata:
          description: Metadata information.
          $ref: "#/components/schemas/Metadata"
        reactions:
          type: array
          description: All reactions of a person on a post.
          items:
            $ref: "#/components/schemas/ReactionV2"
    ActivitiesReactions:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        reactions:
          type: array
          description: All reactions of a person on a post.
          items:
            $ref: "#/components/schemas/ReactionsV2"
    ActivitiesRepost:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        metadata:
          description: Metadata information.
          $ref: "#/components/schemas/Metadata"
        reposts:
          type: array
          description: All reposts of a person on a post.
          items:
            $ref: "#/components/schemas/RepostV2"
    CompanyActivitiesPosts:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of API request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        metadata:
          description: Metadata information.
          $ref: "#/components/schemas/Metadata"
        posts:
          type: array
          description: All activity posts of a company.
          items:
            $ref: "#/components/schemas/PostV2"

    ErrorResponseSchema:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - false
        title:
          type: string
        msg:
          type: string

  examples:
    ProfileFound:
      summary: Profile Found
      value:
        success: true
        email: bill.gates@microsoft.com
        emailType: professional
        credits_left: 90000
        rate_limit_left: 19000
        person:
          publicIdentifier: "williamhgates"
          memberIdentifier: "251749025"
          linkedInIdentifier: "ACoAAA8BYqEBCGLg_vT_ca6mMEqkpp9nVffJ3hc"
          linkedInUrl: "https://www.linkedin.com/in/williamhgates"
          firstName: "Bill"
          lastName: "Gates"
          headline: "Co-chair, Bill & Melinda Gates Foundation"
          location: "Seattle, Washington, United States of America"
          summary: "Co-chair of the Bill & Melinda Gates Foundation. Founder of Breakthrough Energy. Co-founder of Microsoft. Voracious reader. Avid traveler. Active blogger."
          photoUrl: "https://media.licdn.com/dms/image/D5603AQHv6LsdiUg1kw/profile-displayphoto-shrink_800_800/0/1695167344576?e=1723680000&v=beta&t=NcEpysYwCpQ_NBg0QTz_a265pEOhfGICFJUX92-KNpw"
          backgroundUrl: "https://media.licdn.com/dms/image/v2/D5616AQHy2R5tyt2YUA/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1672782785474?e=1731542400&v=beta&t=0HWY04xeK0kEQngJOje3yNudJ6eTvNz2Q2HrTRB4hO8"
          openToWork: false
          premium: false
          creationDate:
            month: 5
            year: 2013
          followerCount: 35415
          positions:
            positionsCount: 3
            positionHistory:
              - title: "Co-chair"
                companyName: "Bill & Melinda Gates Foundation"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 2000
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C4E0BAQE7Na_mKQhIJg/company-logo_400_400/0/1633731811337/bill__melinda_gates_foundation_logo?e=1726099200&v=beta&t=LIgstVg1oR5LmBl9u1kolb_xeOqs5kX1ZTcUpaEtsE4"
                linkedInUrl: "https://www.linkedin.com/company/8736/"
                linkedInId: "8736"
              - title: "Founder"
                companyName: "Breakthrough Energy"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 2015
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C4D0BAQGwD9vNu044FA/company-logo_400_400/0/1630531940051/breakthrough_energy_ventures_logo?e=1726099200&v=beta&t=DIU32ElAkeY4aqcq_9uJTAhiZI-v0GoOX77409cLZRE"
                linkedInUrl: "https://www.linkedin.com/company/19141006/"
                linkedInId: "19141006"
              - title: "Co-founder"
                companyName: "Microsoft"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 1975
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1726099200&v=beta&t=zueWlWXcJ4WjwGSzlUWgPOnjoAm8C2KfSIcWWHxWrGg"
                linkedInUrl: "https://www.linkedin.com/company/1035/"
                linkedInId: "1035"
          schools:
            educationsCount: 2
            educationHistory:
              - degreeName: ""
                fieldOfStudy: ""
                description: null
                linkedInUrl: "https://www.linkedin.com/company/1646/"
                schoolLogo: "https://media.licdn.com/dms/image/C4E0BAQF5t62bcL0e9g/company-logo_400_400/0/1631318058235?e=1726099200&v=beta&t=tSGQKfAlig70DD9n2_xkYR54yBTf7K3aKsau8PMQSVM"
                schoolName: "Harvard University"
                startEndDate:
                  start:
                    month: 1
                    year: 1973
                  end:
                    month: 1
                    year: 1975
              - degreeName: ""
                fieldOfStudy: ""
                description: null
                linkedInUrl: "https://www.linkedin.com/company/30288/"
                schoolLogo: "https://media.licdn.com/dms/image/D560BAQGFmOQmzpxg9A/company-logo_400_400/0/1683732883164/lakeside_school_logo?e=1726099200&v=beta&t=cylwvrQe7Q4N8oU1hotzPfrae8yxPuzdtG1ocBSuEmA"
                schoolName: "Lakeside School"
                startEndDate:
                  start:
                    month: null
                    year: null
                  end:
                    month: null
                    year: null
          skills: []
          languages: []
        company:
          linkedInId: "1035"
          name: "Microsoft"
          universalName: "microsoft"
          linkedInUrl: "https://www.linkedin.com/company/1035"
          employeeCount: 228581
          employeeCountRange:
            start: 10001
            end: 1
          websiteUrl: "https://news.microsoft.com/"
          tagline: null
          description: |
            Every company has a mission. What's ours? To empower every person and every organization to achieve more. We believe technology can and should be a force for good and that meaningful innovation contributes to a brighter world in the future and today. Our culture doesn't just encourage curiosity; it embraces it. Each day we make progress together by showing up as our authentic selves. We show up with a learn-it-all mentality. We show up cheering on others, knowing their success doesn't diminish our own. We show up every day open to learning our own biases, changing our behavior, and inviting in differences. Because impact matters.

            Microsoft operates in 190 countries and is made up of more than 220,000 passionate employees worldwide.
          industry: "Software Development"
          phone: null
          specialities:
            - "Business Software"
            - "Developer Tools"
            - "Home & Educational Software"
            - "Tablets"
            - "Search"
            - "Advertising"
            - "Servers"
            - "Windows Operating System"
            - "Windows Applications & Platforms"
            - "Smartphones"
            - "Cloud Computing"
            - "Quantum Computing"
            - "Future of Work"
            - "Productivity"
            - "AI"
            - "Artificial Intelligence"
            - "Machine Learning"
            - "Laptops"
            - "Mixed Reality"
            - "Virtual Reality"
            - "Gaming"
            - "Developers"
            - "IT Professional"
          followerCount: 22736947
          headquarter:
            city: "Redmond"
            country: "US"
            postalCode: "98052"
            geographicArea: "Washington"
            street1: "1 Microsoft Way"
            street2: null
          logo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1725494400&v=beta&t=joSXHhDAEare7f9gk8MwXr2sOr84zX7HDx2h5znXEYI"
    ExtractedPersonActivitiesExample:
      summary: Person LinkedIn Activities Example
      value:
        success: true
        posts:
          - id: "7254912034612379648"
            text: "I'm proud that the Gates Foundation is opening a new office in Dakar, Senegal. Africa's development progress is a priority for the foundation, and I'm grateful for all our partners and staff who have worked so hard to make this happen."
            likesCount: 2449
            commentsCount: 372
            activityDate: "2024-10-23T17:50:18.799Z"
            author:
              authorId: "ACoAAA8BYqEBCGLg_vT_ca6mMEqkpp9nVffJ3hc"
              authorName: "Bill Gates"
              authorPublicIdentifier: "williamhgates"
            activityUrl: "https://www.linkedin.com/feed/update/urn:li:activity:7254912034612379648"
            isRepublishedPost: true
            relatedPost:
              text: "We recently celebrated a momentous occasion with the official launch of the Bill & Melinda Gates Foundation's Senegal office! This significant step underscores our ongoing dedication to Africa's development goals and our commitment to collaborating with local partners.\n\nThe launch isn't just about opening doors—it's about forging pathways to innovative solutions that will save millions of lives across the continent. \n\nIt was great to have you with us Chris Elias and Paulin BASINGA and thanks for moderating a great discussion Raïssa OKOÏ !\n\nAs we move forward, we continue to learn, co-create, and deepen our relationships with key stakeholders, driving meaningful change for communities in Senegal and beyond.\n\n#BMGFSenegalLaunch #AfricaDevelopment #PartnershipForImpact"
              activityDate: "2024-10-22T13:09:42.578Z"
              authorId: "104421531"
              authorPublicIdentifier: "gates-foundation-africa"
              authorName: "Gates Foundation Africa"
              activityUrl: "https://www.linkedin.com/feed/update/urn:li:activity:7254479030517698560"
        comments:
          - text: "Thanks for having me. It's inspiring to see how far research for Alzheimer's has come."
            likesCount: 38
            commentsCount: 19
            activityDate: "2024-08-29T16:25:17.386Z"
            authorId: "ACoAAA8BYqEBCGLg_vT_ca6mMEqkpp9nVffJ3hc"
            authorName: "Bill Gates"
            authorPublicIdentifier: "williamhgates"
            post:
              text: "This afternoon, we welcomed Bill Gates as he toured labs at the Indiana University School of Medicine and met with key faculty members to learn more about the expansive Alzheimer's disease research happening right here in Indianapolis."
              likesCount: 3257
              commentsCount: 118
              activityDate: "2024-08-29T16:25:17.386Z"
              authorId: "3323"
              authorPublicIdentifier: "indiana-university-school-of-medicine"
              authorName: "Indiana University School of Medicine"
              activityUrl: "https://www.linkedin.com/posts/indiana-university-school-of-medicine_this-afternoon-we-welcomed-bill-gates-as-ugcPost-7231813250051383296-24DS?utm_source=combined_share_message&utm_medium=member_desktop_web"
              relatedPost: null
            activityUrl: "https://www.linkedin.com/feed/update/urn:li:ugcPost:7231813250051383296?commentUrn=urn%3Ali%3Acomment%3A%28ugcPost%3A7231813250051383296%2C7234959305127444481%29&dashCommentUrn=urn%3Ali%3Afsd_comment%3A%287234959305127444481%2Curn%3Ali%3AugcPost%3A7231813250051383296%29"
        reactions:
          - type: "LIKE"
            authorId: "ACoAAA8BYqEBCGLg_vT_ca6mMEqkpp9nVffJ3hc"
            authorName: "Bill Gates"
            authorPublicIdentifier: "williamhgates"
            relatedComment: null
            relatedPost:
              text: "What an incredible week at Climate Week NYC! Climate Week brings together an ecosystem of people and organizations committed to building a sustainable future. I felt a sense of urgency combined with a strong commitment to change and getting the work done.\n\nOne highlight was my conversation with Bill Gates at an event hosted by Breakthrough Energy and CBRE focused on the Clean Industrial Revolution and the critical role of emerging climate technologies. Our partnership with Breakthrough Energy to decarbonize buildings, highlighted by our work with Luxwall, is a significant step forward in our net-zero commitment. \n\nWe further demonstrated the opportunity to decarbonize the built environment by honoring our work with the Javits Center. The Javits Centers' innovative microgrid featuring the largest rooftop solar array and battery storage system in Manhattan is an inspiring example of the solutions available now that can be scaled to any built environment. \n\nAnother memorable moment was speaking at Carnegie Hall during the Siemens Arts Program and Atlantik-Brücke e.V. event. It was an honor to reflect on the power of technology and culture to change the world, and to celebrate the enduring German-American friendship that has been pivotal in our journey. \n\nAs we move forward, the message is clear: partnerships are essential. No company can do this alone. The ecosystem of partners we have at #ClimateWeekNYC is crucial to delivering impact with greater speed and scale. \n\nThank you to everyone who made this week possible. Let's continue to push boundaries and take bold actions together. The future is ours to shape.  \n\n#Sustainability #NetZero #Innovation #CleanEnergy"
              likesCount: 341
              commentsCount: 13
              activityDate: "2024-10-02T17:33:47.405Z"
              authorId: "ACoAAARuJH4BUfWDnLosZmlFyNr6SrDaRFmmBK4"
              authorPublicIdentifier: "barbara-humpton"
              authorName: "Barbara Humpton"
              activityUrl: "https://www.linkedin.com/posts/barbara-humpton_climateweeknyc-sustainability-netzero-ugcPost-7245556119614496768-Sufh?utm_source=combined_share_message&utm_medium=member_desktop_web"
              relatedPost: null
        credits_left: 15
        rate_limit_left: 19
    PersonProfileExtracted:
      summary: Person Profile Extracted
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        person:
          publicIdentifier: "williamhgates"
          memberIdentifier: "251749025"
          linkedInIdentifier: "ACoAAA8BYqEBCGLg_vT_ca6mMEqkpp9nVffJ3hc"
          linkedInUrl: "https://www.linkedin.com/in/williamhgates"
          firstName: "Bill"
          lastName: "Gates"
          headline: "Co-chair, Bill & Melinda Gates Foundation"
          location: "Seattle, Washington, United States of America"
          summary: "Co-chair of the Bill & Melinda Gates Foundation. Founder of Breakthrough Energy. Co-founder of Microsoft. Voracious reader. Avid traveler. Active blogger."
          photoUrl: "https://media.licdn.com/dms/image/D5603AQHv6LsdiUg1kw/profile-displayphoto-shrink_800_800/0/1695167344576?e=1723680000&v=beta&t=NcEpysYwCpQ_NBg0QTz_a265pEOhfGICFJUX92-KNpw"
          backgroundUrl: "https://media.licdn.com/dms/image/v2/D5616AQHy2R5tyt2YUA/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1672782785474?e=1731542400&v=beta&t=0HWY04xeK0kEQngJOje3yNudJ6eTvNz2Q2HrTRB4hO8"
          openToWork: false
          premium: false
          creationDate:
            month: 5
            year: 2013
          followerCount: 35415
          positions:
            positionsCount: 3
            positionHistory:
              - title: "Co-chair"
                companyName: "Bill & Melinda Gates Foundation"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 2000
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C4E0BAQE7Na_mKQhIJg/company-logo_400_400/0/1633731811337/bill__melinda_gates_foundation_logo?e=1726099200&v=beta&t=LIgstVg1oR5LmBl9u1kolb_xeOqs5kX1ZTcUpaEtsE4"
                linkedInUrl: "https://www.linkedin.com/company/8736/"
                linkedInId: "8736"
              - title: "Founder"
                companyName: "Breakthrough Energy"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 2015
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C4D0BAQGwD9vNu044FA/company-logo_400_400/0/1630531940051/breakthrough_energy_ventures_logo?e=1726099200&v=beta&t=DIU32ElAkeY4aqcq_9uJTAhiZI-v0GoOX77409cLZRE"
                linkedInUrl: "https://www.linkedin.com/company/19141006/"
                linkedInId: "19141006"
              - title: "Co-founder"
                companyName: "Microsoft"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 1975
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1726099200&v=beta&t=zueWlWXcJ4WjwGSzlUWgPOnjoAm8C2KfSIcWWHxWrGg"
                linkedInUrl: "https://www.linkedin.com/company/1035/"
                linkedInId: "1035"
          schools:
            educationsCount: 2
            educationHistory:
              - degreeName: ""
                fieldOfStudy: ""
                description: null
                linkedInUrl: "https://www.linkedin.com/company/1646/"
                schoolLogo: "https://media.licdn.com/dms/image/C4E0BAQF5t62bcL0e9g/company-logo_400_400/0/1631318058235?e=1726099200&v=beta&t=tSGQKfAlig70DD9n2_xkYR54yBTf7K3aKsau8PMQSVM"
                schoolName: "Harvard University"
                startEndDate:
                  start:
                    month: 1
                    year: 1973
                  end:
                    month: 1
                    year: 1975
              - degreeName: ""
                fieldOfStudy: ""
                description: null
                linkedInUrl: "https://www.linkedin.com/company/30288/"
                schoolLogo: "https://media.licdn.com/dms/image/D560BAQGFmOQmzpxg9A/company-logo_400_400/0/1683732883164/lakeside_school_logo?e=1726099200&v=beta&t=cylwvrQe7Q4N8oU1hotzPfrae8yxPuzdtG1ocBSuEmA"
                schoolName: "Lakeside School"
                startEndDate:
                  start:
                    month: null
                    year: null
                  end:
                    month: null
                    year: null
          skills: []
          languages: []
        company:
          linkedInId: "1035"
          name: "Microsoft"
          universalName: "microsoft"
          linkedInUrl: "https://www.linkedin.com/company/1035"
          employeeCount: 228581
          employeeCountRange:
            start: 10001
            end: 1
          websiteUrl: "https://news.microsoft.com/"
          tagline: null
          description: |
            Every company has a mission. What's ours? To empower every person and every organization to achieve more. We believe technology can and should be a force for good and that meaningful innovation contributes to a brighter world in the future and today. Our culture doesn't just encourage curiosity; it embraces it. Each day we make progress together by showing up as our authentic selves. We show up with a learn-it-all mentality. We show up cheering on others, knowing their success doesn't diminish our own. We show up every day open to learning our own biases, changing our behavior, and inviting in differences. Because impact matters.

            Microsoft operates in 190 countries and is made up of more than 220,000 passionate employees worldwide.
          industry: "Software Development"
          phone: null
          specialities:
            - "Business Software"
            - "Developer Tools"
            - "Home & Educational Software"
            - "Tablets"
            - "Search"
            - "Advertising"
            - "Servers"
            - "Windows Operating System"
            - "Windows Applications & Platforms"
            - "Smartphones"
            - "Cloud Computing"
            - "Quantum Computing"
            - "Future of Work"
            - "Productivity"
            - "AI"
            - "Artificial Intelligence"
            - "Machine Learning"
            - "Laptops"
            - "Mixed Reality"
            - "Virtual Reality"
            - "Gaming"
            - "Developers"
            - "IT Professional"
          followerCount: 22736947
          headquarter:
            city: "Redmond"
            country: "US"
            postalCode: "98052"
            geographicArea: "Washington"
            street1: "1 Microsoft Way"
            street2: null
          logo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1725494400&v=beta&t=joSXHhDAEare7f9gk8MwXr2sOr84zX7HDx2h5znXEYI"
    CompanyFound:
      summary: Company Found
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        company:
          linkedInId: "1035"
          name: "Microsoft"
          universalName: "microsoft"
          linkedInUrl: "https://www.linkedin.com/company/1035"
          employeeCount: 228581
          employeeCountRange:
            start: 10001
            end: 1
          websiteUrl: "https://news.microsoft.com/"
          tagline: null
          description: |
            Every company has a mission. What's ours? To empower every person and every organization to achieve more. We believe technology can and should be a force for good and that meaningful innovation contributes to a brighter world in the future and today. Our culture doesn't just encourage curiosity; it embraces it. Each day we make progress together by showing up as our authentic selves. We show up with a learn-it-all mentality. We show up cheering on others, knowing their success doesn't diminish our own. We show up every day open to learning our own biases, changing our behavior, and inviting in differences. Because impact matters.

            Microsoft operates in 190 countries and is made up of more than 220,000 passionate employees worldwide.
          industry: "Software Development"
          phone: null
          specialities:
            - "Business Software"
            - "Developer Tools"
            - "Home & Educational Software"
            - "Tablets"
            - "Search"
            - "Advertising"
            - "Servers"
            - "Windows Operating System"
            - "Windows Applications & Platforms"
            - "Smartphones"
            - "Cloud Computing"
            - "Quantum Computing"
            - "Future of Work"
            - "Productivity"
            - "AI"
            - "Artificial Intelligence"
            - "Machine Learning"
            - "Laptops"
            - "Mixed Reality"
            - "Virtual Reality"
            - "Gaming"
            - "Developers"
            - "IT Professional"
          followerCount: 22736947
          headquarter:
            city: "Redmond"
            country: "US"
            postalCode: "98052"
            geographicArea: "Washington"
            street1: "1 Microsoft Way"
            street2: null
          logo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1725494400&v=beta&t=joSXHhDAEare7f9gk8MwXr2sOr84zX7HDx2h5znXEYI"
    CompanyProfileExtracted:
      summary: Company Profile Extracted
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        company:
          linkedInId: "1035"
          name: "Microsoft"
          universalName: "microsoft"
          linkedInUrl: "https://www.linkedin.com/company/1035"
          employeeCount: 228581
          employeeCountRange:
            start: 10001
            end: 1
          websiteUrl: "https://news.microsoft.com/"
          tagline: null
          description: |
            Every company has a mission. What's ours? To empower every person and every organization to achieve more. We believe technology can and should be a force for good and that meaningful innovation contributes to a brighter world in the future and today. Our culture doesn't just encourage curiosity; it embraces it. Each day we make progress together by showing up as our authentic selves. We show up with a learn-it-all mentality. We show up cheering on others, knowing their success doesn't diminish our own. We show up every day open to learning our own biases, changing our behavior, and inviting in differences. Because impact matters.

            Microsoft operates in 190 countries and is made up of more than 220,000 passionate employees worldwide.
          industry: "Software Development"
          phone: null
          specialities:
            - "Business Software"
            - "Developer Tools"
            - "Home & Educational Software"
            - "Tablets"
            - "Search"
            - "Advertising"
            - "Servers"
            - "Windows Operating System"
            - "Windows Applications & Platforms"
            - "Smartphones"
            - "Cloud Computing"
            - "Quantum Computing"
            - "Future of Work"
            - "Productivity"
            - "AI"
            - "Artificial Intelligence"
            - "Machine Learning"
            - "Laptops"
            - "Mixed Reality"
            - "Virtual Reality"
            - "Gaming"
            - "Developers"
            - "IT Professional"
          followerCount: 22736947
          headquarter:
            city: "Redmond"
            country: "US"
            postalCode: "98052"
            geographicArea: "Washington"
            street1: "1 Microsoft Way"
            street2: null
          logo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1725494400&v=beta&t=joSXHhDAEare7f9gk8MwXr2sOr84zX7HDx2h5znXEYI"
    JobListExtracted:
      summary: Job List Example
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        metadata:
          currentPage: 1
          pageNumber: 10
          perPage: 50
          total: 500
        jobs:
          - linkedinIdentifier: "4081332168"
            title: Software Engineer, Back-End, Data Center Network Planning
            companyName: Google
            companyLogo: https://media.licdn.com/dms/image/v2/C4D0BAQHiNSL4Or29cg/company-logo_400_400/company-logo_400_400/0/1631311446380?e=1742428800&v=beta&t=fRFa5F7PMhVSlTNmwx1Ow2_FkX-GdS1E8zV52c433eo
            location: Sunnyvale
            url: https://www.linkedin.com/jobs/view/4081332168
            creationDate:
            repostDate:
            experienceLevel:
            contractType:
          - linkedinIdentifier: "4093221619"
            title: Data Center Mechanical/Thermal Cooling Engineer
            companyName: Google
            companyLogo: https://media.licdn.com/dms/image/v2/C4D0BAQHiNSL4Or29cg/company-logo_400_400/company-logo_400_400/0/1631311446380?e=1742428800&v=beta&t=fRFa5F7PMhVSlTNmwx1Ow2_FkX-GdS1E8zV52c433eo
            location: Sunnyvale
            url: https://www.linkedin.com/jobs/view/4093221619
            creationDate:
            repostDate:
            experienceLevel:
            contractType:
    JobExtracted:
      summary: Company Profile Extracted
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        job:
          linkedinIdentifier: "4102642841"
          title: Senior Software Engineer, Full Stack, Learning & Education
          companyName: Google
          companyLogo: https://media.licdn.com/dms/image/v2/C4D0BAQHiNSL4Or29cg/company-logo_400_400/company-logo_400_400/0/1631311446380?e=1742428800&v=beta&t=fRFa5F7PMhVSlTNmwx1Ow2_FkX-GdS1E8zV52c433eo
          description: |-
            Minimum qualifications:

            Bachelor’s degree or equivalent practical experience. 5 years of experience with software development in one or more programming languages, and with data structures/algorithms.3 years of experience with full stack development, across back-end such as Java, Python, GO, and/or C++ codebases, and front-end experience including JavaScript and/or TypeScript, HTML, CSS or equivalent.3 years of experience testing, maintaining, and/or launching software products, and 1 year of experience with software design and architecture.

            Preferred qualifications:

            Master's degree or PhD in Computer Science or related technical field. 1 year of experience in a technical leadership role. Experience developing accessible technologies.

            About The Job

            Google's software engineers develop the next-generation technologies that change how billions of users connect, explore, and interact with information and one another. Our products need to handle information at massive scale, and extend well beyond web search. We're looking for engineers who bring fresh ideas from all areas, including information retrieval, distributed computing, large-scale system design, networking and data storage, security, artificial intelligence, natural language processing, UI design and mobile; the list goes on and is growing every day. As a software engineer, you will work on a specific project critical to Google’s needs with opportunities to switch teams and projects as you and our fast-paced business grow and evolve. We need our engineers to be versatile, display leadership qualities and be enthusiastic to take on new problems across the full-stack as we continue to push technology forward.

            With your technical expertise you will manage project priorities, deadlines, and deliverables. You will design, develop, test, deploy, maintain, and enhance software solutions.

            Learning is the ongoing quest for understanding, and we made it our mission more than 20 years ago to organize the world’s information to make it universally accessible and useful. The learning landscape is changing, and the Learning and Education team's mission is to help everyone in the world learn anything in the world. We provide the information, tools, and services that help people gain knowledge, fuel curiosity, and prepare for what’s next. We focus our work to add the most value for users to enable learning for school, work, and life. We believe everyone can and should have access to quality learning experiences to reach their full potential.

            The US base salary range for this full-time position is $161,000-$239,000 + bonus + equity + benefits. Our salary ranges are determined by role, level, and location. The range displayed on each job posting reflects the minimum and maximum target salaries for the position across all US locations. Within the range, individual pay is determined by work location and additional factors, including job-related skills, experience, and relevant education or training. Your recruiter can share more about the specific salary range for your preferred location during the hiring process.

            Please note that the compensation details listed in US role postings reflect the base salary only, and do not include bonus, equity, or benefits. Learn more about benefits at Google .

            Responsibilities

            Write and test product or system development code. Participate in, or lead design reviews with peers and stakeholders to decide amongst available technologies. Review code developed by other developers and provide feedback to ensure best practices (e.g., style guidelines, checking code in, accuracy, testability, and efficiency). Contribute to existing documentation or educational content and adapt content based on product/program updates and user feedback. Triage product or system issues and debug/track/resolve by analyzing the sources of issues and the impact on hardware, network, or service operations and quality.

            Google is proud to be an equal opportunity workplace and is an affirmative action employer. We are committed to equal employment opportunity regardless of race, color, ancestry, religion, sex, national origin, sexual orientation, age, citizenship, marital status, disability, gender identity or Veteran status. We also consider qualified applicants regardless of criminal histories, consistent with legal requirements. See also Google's EEO Policy and EEO is the Law. If you have a disability or special need that requires accommodation, please let us know by completing our Accommodations for Applicants form .
          location: Mountain View, California, United States of America
          url: https://www.linkedin.com/jobs/view/4102642841
          creationDate: "2024-12-18T03:13:03.000Z"
          repostedJob: false
          repostDate:
          applicantsCount: 15
          flexibility: On-site
          experienceLevel: Mid-Senior level
          contractType: Full-time
    QuotasFound:
      summary: Quotas Found
      value:
        status: "success"
        data:
          credits_left: 90000
          rate_limit_left: 19000

    ActivitiesPost:
      summary: Activities Post
      value:
        success: true
        credits_left: 19934
        rate_limit_left: 19999
        post:
          activityId: "6976499964512243712"
          text: "Congrats to the team for this amazing milestone!"
          reactionsCount: 16
          commentsCount: 1
          activityDate: "2022-09-16T11:20:08.641Z"
          author:
            authorId: "ACoAABJhN_YBN70Qb8TWu4GpxhJE1NqQ7PQEHQw"
            authorName: "Alain Smith"
            authorPublicIdentifier: "alainsmith"
            authorHeadline: "Bank CEO"
            authorImage: "https://media.licdn.com/dms/image/v2/D4E03AQFP5a_FoymQCA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1670785458261?e=1743033600&v=beta&t=ZQz5_CNMgUVUzuCTYvqUoV1xmXU4OLXun5zzvJkhktg"
            authorUrl: "https://www.linkedin.com/in/alainsmith"
          activityUrl: "https://www.linkedin.com/feed/update/urn:li:activity:6976499964512243712/"
          shareUrl: "https://www.linkedin.com/posts/breaking-news-another-developer-turned-7293041906471596032-6sne"
          relatedPost:
            text: "Spoiler: 30M€ fundraising for Geegle (10M€ equity + 20M€ debt). New step for the fintech!"
            activityDate: "2022-06-29T14:02:12.188Z"
            author:
              authorId: "11011480"
              authorName: "geegle"
              authorPublicIdentifier: "geegle"
              authorHeadline: "3,923 followers"
              authorUrl: "https://www.linkedin.com/company/geegle/"
              activityUrl: "https://www.linkedin.com/feed/update/urn:li:activity:6949912435651493888/"
              shareUrl: "https://www.linkedin.com/posts/daily-dev-comparator-work-729304143471596032-4b0e"
    ActivitiesPosts:
      summary: Activities Posts
      value:
        success: true
        credits_left: 19934
        rate_limit_left: 19999
        posts:
          - activityId: "6976499964512243712"
            text: "Congrats to the team for this amazing milestone!"
            reactionsCount: 16
            commentsCount: 1
            activityDate: "2022-09-16T11:20:08.641Z"
            author:
              authorId: "ACoZZBJhN_YBN70Qb8TWu4GpxhJE1NqQ7PQEHQw"
              authorName: "Alain Smith"
              authorPublicIdentifier: "alainsmith"
              authorHeadline: "Bank CEO"
              authorImage: "https://media.licdn.com/dms/image/v2/D4E03AQFP5a_FoymQCA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1670785458261?e=1743033600&v=beta&t=ZQz5_CNMgUVUzuCTYvqUoV1xmXU4OLXun5zzvJkhktg"
              authorUrl: "https://www.linkedin.com/in/alainsmith"
            activityUrl: "https://www.linkedin.com/feed/update/urn:li:activity:6976499964512243712/"
            shareUrl: "https://www.linkedin.com/posts/breaking-news-another-developer-turned-7293041906471596032-6sne"
            relatedPost:
              text: "Spoiler: 30M€ fundraising for Geegle (10M€ equity + 20M€ debt). New step for the fintech!"
              activityDate: "2022-06-29T14:02:12.188Z"
              author:
                authorId: "11011480"
                authorName: "geegle"
[...]
