openapi: 3.0.0
info:
  title: ScrapIn API
  version: 1.0.0
servers:
- url: https://api.scrapin.io
security:
- apiKey: []
tags:
- name: Person
- name: Company
paths:
  '/enrichment':
    get:
      tags:
      - Person
      operationId: PersonSearch
      summary: Person Search
      description: This operation allows you to find someone from first name, last name, company domain or email. It returns data profile and company information as the response. This operation consume 1 credit.
      parameters:
      - name: firstName
        in: query
        schema:
          type: string
        description: This optional parameter is a string. It represents the first name to query.
      - name: lastName
        in: query
        schema:
          type: string
        description: This optional parameter is a string. It represents the last name to query.
      - name: companyDomain
        in: query
        schema:
          type: string
        description: This optional parameter is a string. It represents the company domain/URL to query
      - name: email
        in: query
        schema:
          type: string
        description: This required parameter is a string. It represents the email to query.
      responses:
        200:
          description: 'The endpoint returns information about the person found and its company. There are two possible success responses for the operation. <br />1. Query Successful but no data found. <br />2. Query Successful with data found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSearch'
              examples:
                ProfileFound:
                  $ref: '#/components/examples/ProfileFound'
                ProfileNotFound:
                  $ref: '#/components/examples/ProfileNotFound'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                NoApiKey:
                  $ref: '#/components/examples/NoApiKey'
                MissingEmail:
                  $ref: '#/components/examples/MissingEmail'
                InvalidEmail:
                  $ref: '#/components/examples/InvalidEmail'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                InvalidApiKey:
                  $ref: '#/components/examples/InvalidApiKey'
              
        402:
          description: Insufficient Account Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                PaymentRequired:
                  $ref: '#/components/examples/PaymentRequired'
        404:
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                PageNotFound:
                  $ref: '#/components/examples/PageNotFound'
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                ServerError:
                  $ref: '#/components/examples/ServerError'
  '/enrichment/profile':
    get:
      tags:
      - Person
      operationId: ExtractPersonDataProfile
      summary: Extract Person Data Profile
      description: This operation allows you to extract data from a Person Linkedin URL. It returns profile data and current company data of the person as the response. This operation consume 1 credit.
      parameters:
      - name: linkedInUrl
        in: query
        schema:
          type: string
        description: "This required parameter is a string. It represents the Linkedin URL of the person with this format: https://www.linkedin.com/in/xxxxxxxxxxxxx/."
        required: true
      responses:
        200:
          description: 'The endpoint returns information about the Linkedin URL owner and its company.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractPersonDataProfile'
              examples:
                ProfileFound:
                  $ref: '#/components/examples/PersonProfileExtracted'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                NoApiKey:
                  $ref: '#/components/examples/NoApiKey'
                MissingEmail:
                  $ref: '#/components/examples/MissingEmail'
                InvalidEmail:
                  $ref: '#/components/examples/InvalidEmail'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                InvalidApiKey:
                  $ref: '#/components/examples/InvalidApiKey'

        402:
          description: Insufficient Account Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                PaymentRequired:
                  $ref: '#/components/examples/PaymentRequired'
        404:
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                PageNotFound:
                  $ref: '#/components/examples/PageNotFound'
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                ServerError:
                  $ref: '#/components/examples/ServerError'
  '/enrichment/company/domain':
    get:
      tags:
      - Company
      operationId: CompanySearch
      summary: Company Search
      description: This operation allows you to find a company from its domain name. It returns company information as the response. This operation consume 1 credit.
      parameters:
      - name: domain
        in: query
        schema:
          type: string
        description: "This required parameter is a string. It represents the domain name of the company to query."
        required: true
      responses:
        200:
          description: 'The endpoint returns information about the company. There are two possible success responses for the operation. <br />1. Query Successful but no data found. <Br />2. Query Successful with data found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySearch'
              examples:
                CompanyFound:
                  $ref: '#/components/examples/CompanyFound'
                CompanyNotFound:
                  $ref: '#/components/examples/CompanyNotFound'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                NoApiKey:
                  $ref: '#/components/examples/NoApiKey'
                MissingEmail:
                  $ref: '#/components/examples/MissingEmail'
                InvalidEmail:
                  $ref: '#/components/examples/InvalidEmail'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                InvalidApiKey:
                  $ref: '#/components/examples/InvalidApiKey'
              
        402:
          description: Insufficient Account Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                PaymentRequired:
                  $ref: '#/components/examples/PaymentRequired'
        404:
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                PageNotFound:
                  $ref: '#/components/examples/PageNotFound'
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                ServerError:
                  $ref: '#/components/examples/ServerError'
  '/enrichment/company':
    get:
      tags:
      - Company
      operationId: ExtractCompanyDataProfile
      summary: Extract Company Data Profile
      description: This operation allows you to extract data from a Company Linkedin URL. It returns company data as the response. This operation consume 1 credit.
      parameters:
      - name: linkedInUrl
        in: query
        schema:
          type: string
        description: "This required parameter is a string. It represents the Linkedin URL of the person with this format: https://www.linkedin.com/company/xxxxxxxxxx/."
        required: true
      responses:
        200:
          description: 'The endpoint returns information about the Linkedin URL owner and its company.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractCompanyDataProfile'
              examples:
                CompanyFound:
                  $ref: '#/components/examples/CompanyProfileExtracted'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                NoApiKey:
                  $ref: '#/components/examples/NoApiKey'
                MissingEmail:
                  $ref: '#/components/examples/MissingEmail'
                InvalidEmail:
                  $ref: '#/components/examples/InvalidEmail'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                InvalidApiKey:
                  $ref: '#/components/examples/InvalidApiKey'

        402:
          description: Insufficient Account Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                PaymentRequired:
                  $ref: '#/components/examples/PaymentRequired'
        404:
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                PageNotFound:
                  $ref: '#/components/examples/PageNotFound'
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
              examples:
                ServerError:
                  $ref: '#/components/examples/ServerError'
components:
  schemas:
    PersonSearch:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of api request.
        email:
          type: string
          description: Represents the email of the person account that was queried
        emailType:
          type: string
          description: Represents the type of account.
        person:
          oneOf:
          - $ref: '#/components/schemas/Person'
          - type: boolean
            enum:
            - false
        company:
          oneOf:
          - $ref: '#/components/schemas/Company'
          - type: boolean
            enum:
            - false
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
    Person:
      type: object
      properties:
        creationDate:
          type: object
          properties:
            month:
              type: number
            year:
              type: number
        firstName:
          type: string
        followerCount:
          type: number
        headline:
          type: string
        summary:
          type: string
        languages:
          type: array
          items:
            type: string
        lastName:
          type: string
        linkedInIdentifier:
          type: string
        linkedInUrl:
          type: string
        location:
          type: string
        photoUrl:
          type: string
        backgroundUrl:
          type: string
        openToWork:
          type: boolean
        premium:
          type: boolean
        positions:
          type: object
          properties:
            positionHistory:
              type: array
              items:
                type: object
                properties:
                  companyLocation:
                    type: string
                  companyLogo:
                    type: string
                  companyName:
                    type: string
                  description:
                    type: string
                  linkedInUrl:
                    type: string
                  startEndDate:
                    type: object
                    properties:
                      start:
                        type: object
                        properties:
                          month:
                            type: number
                          year:
                            type: number
                      end:
                        type: object
                        properties:
                          month:
                            type: number
                          year:
                            type: number
                  title:
                    type: string
                  contractType:
                    type: string
            positionsCount:
              type: number
        publicIdentifier:
          type: string
        memberIdentifier:
          type: string
        schools:
          type: object
          properties:
            educationHistory:
              type: array
              items:
                type: object
                properties:
                  degreeName:
                    type: string
                  description:
                    type: string
                  fieldOfStudy:
                    type: string
                  linkedInUrl:
                    type: string
                  schoolLogo:
                    type: string
                  schoolName:
                    type: string
                  startEndDate:
                    type: object
                    properties:
                      end:
                        type: object
                        properties:
                          year:
                            type: number
                      start:
                        type: object
                        properties:
                          year:
                            type: number
            educationsCount:
              type: number
        skills:
          type: array
          items:
            type: string
    ExtractPersonDataProfile:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of api request.
        credits_left:
          type: integer
          description: The usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: The usable daily request limit available for the user account after this query.
        person:
          oneOf:
          - $ref: '#/components/schemas/Person'
          - type: boolean
            enum:
            - false
        company:
          oneOf:
          - $ref: '#/components/schemas/Company'
          - type: boolean
            enum:
            - false
    Company:
      type: object
      properties:
        description:
          type: string
        employeeCount:
          type: number
        employeeCountRange:
          type: object
          properties:
            start:
              type: number
            end:
              type: number
        followerCount:
          type: number
        headquarter:
          type: object
          properties:
            city:
              type: string
            country:
              type: string
            geographicArea:
              type: string
            postalCode:
              type: string
            street1:
              type: string
            street2:
              type: string
        industry:
          type: string
        linkedInId:
          type: string
        linkedInUrl:
          type: string
        name:
          type: string
        specialities:
          type: array
          items:
            type: string
        tagline:
          type: string
        universalName:
          type: string
        websiteUrl:
          type: string
    CompanySearch:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of api request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        company:
          oneOf:
          - $ref: '#/components/schemas/Company'
          - type: boolean
            enum:
            - false
    ExtractCompanyDataProfile:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success or failure of api request.
        credits_left:
          type: integer
          description: Represents the usable credits available for the user account after this query.
        rate_limit_left:
          type: integer
          description: Represents the usable daily request limit available for the user account after this query.
        company:
          oneOf:
          - $ref: '#/components/schemas/Company'
          - type: boolean
            enum:
            - false
    ErrorResponseSchema:
      type: object
      properties:
        success:
          type: boolean
          enum:
          - false
        title:
          type: string
        msg:
          type: string

  examples:
    ProfileFound:
      summary: Profile Found
      value:
        success: true
        email: bill.gates@microsoft.com
        emailType: professional
        credits_left: 90000
        rate_limit_left: 19000
        person:
          publicIdentifier: "williamhgates"
          memberIdentifier: "251749025"
          linkedInIdentifier: "ACoAAA8BYqEBCGLg_vT_ca6mMEqkpp9nVffJ3hc"
          linkedInUrl: "https://www.linkedin.com/in/williamhgates"
          firstName: "Bill"
          lastName: "Gates"
          headline: "Co-chair, Bill & Melinda Gates Foundation"
          location: "Seattle, Washington, United States of America"
          summary: "Co-chair of the Bill & Melinda Gates Foundation. Founder of Breakthrough Energy. Co-founder of Microsoft. Voracious reader. Avid traveler. Active blogger."
          photoUrl: "https://media.licdn.com/dms/image/D5603AQHv6LsdiUg1kw/profile-displayphoto-shrink_800_800/0/1695167344576?e=1723680000&v=beta&t=NcEpysYwCpQ_NBg0QTz_a265pEOhfGICFJUX92-KNpw"
          backgroundUrl: "https://media.licdn.com/dms/image/v2/D5616AQHy2R5tyt2YUA/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1672782785474?e=1731542400&v=beta&t=0HWY04xeK0kEQngJOje3yNudJ6eTvNz2Q2HrTRB4hO8"
          openToWork: false
          premium: false
          creationDate:
            month: 5
            year: 2013
          followerCount: 35415
          positions:
            positionsCount: 3
            positionHistory:
              - title: "Co-chair"
                companyName: "Bill & Melinda Gates Foundation"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 2000
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C4E0BAQE7Na_mKQhIJg/company-logo_400_400/0/1633731811337/bill__melinda_gates_foundation_logo?e=1726099200&v=beta&t=LIgstVg1oR5LmBl9u1kolb_xeOqs5kX1ZTcUpaEtsE4"
                linkedInUrl: "https://www.linkedin.com/company/8736/"
                linkedInId: "8736"
              - title: "Founder"
                companyName: "Breakthrough Energy"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 2015
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C4D0BAQGwD9vNu044FA/company-logo_400_400/0/1630531940051/breakthrough_energy_ventures_logo?e=1726099200&v=beta&t=DIU32ElAkeY4aqcq_9uJTAhiZI-v0GoOX77409cLZRE"
                linkedInUrl: "https://www.linkedin.com/company/19141006/"
                linkedInId: "19141006"
              - title: "Co-founder"
                companyName: "Microsoft"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 1975
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1726099200&v=beta&t=zueWlWXcJ4WjwGSzlUWgPOnjoAm8C2KfSIcWWHxWrGg"
                linkedInUrl: "https://www.linkedin.com/company/1035/"
                linkedInId: "1035"
          schools:
            educationsCount: 2
            educationHistory:
              - degreeName: ""
                fieldOfStudy: ""
                description: null
                linkedInUrl: "https://www.linkedin.com/company/1646/"
                schoolLogo: "https://media.licdn.com/dms/image/C4E0BAQF5t62bcL0e9g/company-logo_400_400/0/1631318058235?e=1726099200&v=beta&t=tSGQKfAlig70DD9n2_xkYR54yBTf7K3aKsau8PMQSVM"
                schoolName: "Harvard University"
                startEndDate:
                  start:
                    month: 1
                    year: 1973
                  end:
                    month: 1
                    year: 1975
              - degreeName: ""
                fieldOfStudy: ""
                description: null
                linkedInUrl: "https://www.linkedin.com/company/30288/"
                schoolLogo: "https://media.licdn.com/dms/image/D560BAQGFmOQmzpxg9A/company-logo_400_400/0/1683732883164/lakeside_school_logo?e=1726099200&v=beta&t=cylwvrQe7Q4N8oU1hotzPfrae8yxPuzdtG1ocBSuEmA"
                schoolName: "Lakeside School"
                startEndDate:
                  start:
                    month: null
                    year: null
                  end:
                    month: null
                    year: null
          skills: []
          languages: []
        company:
          linkedInId: "1035"
          name: "Microsoft"
          universalName: "microsoft"
          linkedInUrl: "https://www.linkedin.com/company/1035"
          employeeCount: 228581
          employeeCountRange:
            start: 10001
            end: 1
          websiteUrl: "https://news.microsoft.com/"
          tagline: null
          description: |
            Every company has a mission. What's ours? To empower every person and every organization to achieve more. We believe technology can and should be a force for good and that meaningful innovation contributes to a brighter world in the future and today. Our culture doesn’t just encourage curiosity; it embraces it. Each day we make progress together by showing up as our authentic selves. We show up with a learn-it-all mentality. We show up cheering on others, knowing their success doesn't diminish our own. We show up every day open to learning our own biases, changing our behavior, and inviting in differences. Because impact matters.
        
            Microsoft operates in 190 countries and is made up of more than 220,000 passionate employees worldwide.
          industry: "Software Development"
          phone: null
          specialities:
            - "Business Software"
            - "Developer Tools"
            - "Home & Educational Software"
            - "Tablets"
            - "Search"
            - "Advertising"
            - "Servers"
            - "Windows Operating System"
            - "Windows Applications & Platforms"
            - "Smartphones"
            - "Cloud Computing"
            - "Quantum Computing"
            - "Future of Work"
            - "Productivity"
            - "AI"
            - "Artificial Intelligence"
            - "Machine Learning"
            - "Laptops"
            - "Mixed Reality"
            - "Virtual Reality"
            - "Gaming"
            - "Developers"
            - "IT Professional"
          followerCount: 22736947
          headquarter:
            city: "Redmond"
            country: "US"
            postalCode: "98052"
            geographicArea: "Washington"
            street1: "1 Microsoft Way"
            street2: null
          logo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1725494400&v=beta&t=joSXHhDAEare7f9gk8MwXr2sOr84zX7HDx2h5znXEYI"
    ProfileNotFound:
      summary: Profile Not Found
      value:
        success: true
        email: efzefhzefzef@live.fr
        emailType: personal
        credits_left: 90000
        rate_limit_left: 19000
        person: false
        company: false
    PersonProfileExtracted:
      summary: Person Profile Extracted
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        person:
          publicIdentifier: "williamhgates"
          memberIdentifier: "251749025"
          linkedInIdentifier: "ACoAAA8BYqEBCGLg_vT_ca6mMEqkpp9nVffJ3hc"
          linkedInUrl: "https://www.linkedin.com/in/williamhgates"
          firstName: "Bill"
          lastName: "Gates"
          headline: "Co-chair, Bill & Melinda Gates Foundation"
          location: "Seattle, Washington, United States of America"
          summary: "Co-chair of the Bill & Melinda Gates Foundation. Founder of Breakthrough Energy. Co-founder of Microsoft. Voracious reader. Avid traveler. Active blogger."
          photoUrl: "https://media.licdn.com/dms/image/D5603AQHv6LsdiUg1kw/profile-displayphoto-shrink_800_800/0/1695167344576?e=1723680000&v=beta&t=NcEpysYwCpQ_NBg0QTz_a265pEOhfGICFJUX92-KNpw"
          backgroundUrl: "https://media.licdn.com/dms/image/v2/D5616AQHy2R5tyt2YUA/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1672782785474?e=1731542400&v=beta&t=0HWY04xeK0kEQngJOje3yNudJ6eTvNz2Q2HrTRB4hO8"
          openToWork: false
          premium: false
          creationDate:
            month: 5
            year: 2013
          followerCount: 35415
          positions:
            positionsCount: 3
            positionHistory:
              - title: "Co-chair"
                companyName: "Bill & Melinda Gates Foundation"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 2000
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C4E0BAQE7Na_mKQhIJg/company-logo_400_400/0/1633731811337/bill__melinda_gates_foundation_logo?e=1726099200&v=beta&t=LIgstVg1oR5LmBl9u1kolb_xeOqs5kX1ZTcUpaEtsE4"
                linkedInUrl: "https://www.linkedin.com/company/8736/"
                linkedInId: "8736"
              - title: "Founder"
                companyName: "Breakthrough Energy"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 2015
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C4D0BAQGwD9vNu044FA/company-logo_400_400/0/1630531940051/breakthrough_energy_ventures_logo?e=1726099200&v=beta&t=DIU32ElAkeY4aqcq_9uJTAhiZI-v0GoOX77409cLZRE"
                linkedInUrl: "https://www.linkedin.com/company/19141006/"
                linkedInId: "19141006"
              - title: "Co-founder"
                companyName: "Microsoft"
                description: ""
                startEndDate:
                  start:
                    month: 1
                    year: 1975
                  end: null
                companyLogo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1726099200&v=beta&t=zueWlWXcJ4WjwGSzlUWgPOnjoAm8C2KfSIcWWHxWrGg"
                linkedInUrl: "https://www.linkedin.com/company/1035/"
                linkedInId: "1035"
          schools:
            educationsCount: 2
            educationHistory:
              - degreeName: ""
                fieldOfStudy: ""
                description: null
                linkedInUrl: "https://www.linkedin.com/company/1646/"
                schoolLogo: "https://media.licdn.com/dms/image/C4E0BAQF5t62bcL0e9g/company-logo_400_400/0/1631318058235?e=1726099200&v=beta&t=tSGQKfAlig70DD9n2_xkYR54yBTf7K3aKsau8PMQSVM"
                schoolName: "Harvard University"
                startEndDate:
                  start:
                    month: 1
                    year: 1973
                  end:
                    month: 1
                    year: 1975
              - degreeName: ""
                fieldOfStudy: ""
                description: null
                linkedInUrl: "https://www.linkedin.com/company/30288/"
                schoolLogo: "https://media.licdn.com/dms/image/D560BAQGFmOQmzpxg9A/company-logo_400_400/0/1683732883164/lakeside_school_logo?e=1726099200&v=beta&t=cylwvrQe7Q4N8oU1hotzPfrae8yxPuzdtG1ocBSuEmA"
                schoolName: "Lakeside School"
                startEndDate:
                  start:
                    month: null
                    year: null
                  end:
                    month: null
                    year: null
          skills: []
          languages: []
        company:
          linkedInId: "1035"
          name: "Microsoft"
          universalName: "microsoft"
          linkedInUrl: "https://www.linkedin.com/company/1035"
          employeeCount: 228581
          employeeCountRange:
            start: 10001
            end: 1
          websiteUrl: "https://news.microsoft.com/"
          tagline: null
          description: |
            Every company has a mission. What's ours? To empower every person and every organization to achieve more. We believe technology can and should be a force for good and that meaningful innovation contributes to a brighter world in the future and today. Our culture doesn’t just encourage curiosity; it embraces it. Each day we make progress together by showing up as our authentic selves. We show up with a learn-it-all mentality. We show up cheering on others, knowing their success doesn't diminish our own. We show up every day open to learning our own biases, changing our behavior, and inviting in differences. Because impact matters.
        
            Microsoft operates in 190 countries and is made up of more than 220,000 passionate employees worldwide.
          industry: "Software Development"
          phone: null
          specialities:
            - "Business Software"
            - "Developer Tools"
            - "Home & Educational Software"
            - "Tablets"
            - "Search"
            - "Advertising"
            - "Servers"
            - "Windows Operating System"
            - "Windows Applications & Platforms"
            - "Smartphones"
            - "Cloud Computing"
            - "Quantum Computing"
            - "Future of Work"
            - "Productivity"
            - "AI"
            - "Artificial Intelligence"
            - "Machine Learning"
            - "Laptops"
            - "Mixed Reality"
            - "Virtual Reality"
            - "Gaming"
            - "Developers"
            - "IT Professional"
          followerCount: 22736947
          headquarter:
            city: "Redmond"
            country: "US"
            postalCode: "98052"
            geographicArea: "Washington"
            street1: "1 Microsoft Way"
            street2: null
          logo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1725494400&v=beta&t=joSXHhDAEare7f9gk8MwXr2sOr84zX7HDx2h5znXEYI"
    CompanyFound:
      summary: Company Found
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        company:
          linkedInId: "1035"
          name: "Microsoft"
          universalName: "microsoft"
          linkedInUrl: "https://www.linkedin.com/company/1035"
          employeeCount: 228581
          employeeCountRange:
            start: 10001
            end: 1
          websiteUrl: "https://news.microsoft.com/"
          tagline: null
          description: |
            Every company has a mission. What's ours? To empower every person and every organization to achieve more. We believe technology can and should be a force for good and that meaningful innovation contributes to a brighter world in the future and today. Our culture doesn’t just encourage curiosity; it embraces it. Each day we make progress together by showing up as our authentic selves. We show up with a learn-it-all mentality. We show up cheering on others, knowing their success doesn't diminish our own. We show up every day open to learning our own biases, changing our behavior, and inviting in differences. Because impact matters.
        
            Microsoft operates in 190 countries and is made up of more than 220,000 passionate employees worldwide.
          industry: "Software Development"
          phone: null
          specialities:
            - "Business Software"
            - "Developer Tools"
            - "Home & Educational Software"
            - "Tablets"
            - "Search"
            - "Advertising"
            - "Servers"
            - "Windows Operating System"
            - "Windows Applications & Platforms"
            - "Smartphones"
            - "Cloud Computing"
            - "Quantum Computing"
            - "Future of Work"
            - "Productivity"
            - "AI"
            - "Artificial Intelligence"
            - "Machine Learning"
            - "Laptops"
            - "Mixed Reality"
            - "Virtual Reality"
            - "Gaming"
            - "Developers"
            - "IT Professional"
          followerCount: 22736947
          headquarter:
            city: "Redmond"
            country: "US"
            postalCode: "98052"
            geographicArea: "Washington"
            street1: "1 Microsoft Way"
            street2: null
          logo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1725494400&v=beta&t=joSXHhDAEare7f9gk8MwXr2sOr84zX7HDx2h5znXEYI"
    CompanyNotFound:
      summary: Company Not Found
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        company: false
    CompanyProfileExtracted:
      summary: Company Profile Extracted
      value:
        success: true
        credits_left: 90000
        rate_limit_left: 19000
        company:
          linkedInId: "1035"
          name: "Microsoft"
          universalName: "microsoft"
          linkedInUrl: "https://www.linkedin.com/company/1035"
          employeeCount: 228581
          employeeCountRange:
            start: 10001
            end: 1
          websiteUrl: "https://news.microsoft.com/"
          tagline: null
          description: |
            Every company has a mission. What's ours? To empower every person and every organization to achieve more. We believe technology can and should be a force for good and that meaningful innovation contributes to a brighter world in the future and today. Our culture doesn’t just encourage curiosity; it embraces it. Each day we make progress together by showing up as our authentic selves. We show up with a learn-it-all mentality. We show up cheering on others, knowing their success doesn't diminish our own. We show up every day open to learning our own biases, changing our behavior, and inviting in differences. Because impact matters.
        
            Microsoft operates in 190 countries and is made up of more than 220,000 passionate employees worldwide.
          industry: "Software Development"
          phone: null
          specialities:
            - "Business Software"
            - "Developer Tools"
            - "Home & Educational Software"
            - "Tablets"
            - "Search"
            - "Advertising"
            - "Servers"
            - "Windows Operating System"
            - "Windows Applications & Platforms"
            - "Smartphones"
            - "Cloud Computing"
            - "Quantum Computing"
            - "Future of Work"
            - "Productivity"
            - "AI"
            - "Artificial Intelligence"
            - "Machine Learning"
            - "Laptops"
            - "Mixed Reality"
            - "Virtual Reality"
            - "Gaming"
            - "Developers"
            - "IT Professional"
          followerCount: 22736947
          headquarter:
            city: "Redmond"
            country: "US"
            postalCode: "98052"
            geographicArea: "Washington"
            street1: "1 Microsoft Way"
            street2: null
          logo: "https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_400_400/0/1630652622688/microsoft_logo?e=1725494400&v=beta&t=joSXHhDAEare7f9gk8MwXr2sOr84zX7HDx2h5znXEYI"
    NoApiKey:
      summary: No Api Key
      value:
        success: false
        title: An error has occurred 🚒
        msg: The API Key is missing
    InvalidEmail:
      summary: Invalid Email
      value:
        success: false
        title: An error has occurred 🚒
        msg: The email has the wrong format
    MissingEmail:
      summary: Missing Email
      value:
        success: false
        title: An error has occurred 🚒
        msg: The email is missing
    InvalidApiKey:
      summary: Invalid Api Key
      value:
        success: false
        title: An error has occurred 🚒
        msg: Unauthorized
    PaymentRequired:
      summary: Payment Required
      value:
        success: false
        title: You don't have enough credits on your account 💰
        msg: You have to upgrade to continue
    PageNotFound:
      summary: Page Not Found
      value:
        success: false
        title: An error has occurred 🚒
        msg: This LinkedIn Profile is not available or does not exist.
    ServerError:
      summary: Server Error
      value:
        success: false
        title: An error has occurred 🚒
        msg: 🚨 Internal Server Error, you will not be credit debited.
  securitySchemes:
    apiKey:
      name: apikey
      in: query
      type: apiKey
      description: This required parameter is a string. It represents the APIKEY obtained from the developer dashboard.
