{
  "openapi": "3.0.0",
  "info": { "title": "ScrapIn API", "version": "1.1.0" },
  "servers": [{ "url": "https://api.scrapin.io" }],
  "security": [{ "apiKey": [] }],
  "tags": [
    { "name": "Person" },
    { "name": "Company" },
    { "name": "Job" },
    { "name": "Workspaces" }
  ],
  "paths": {
    "/enrichment": {
      "get": {
        "tags": ["Person"],
        "operationId": "PersonSearch",
        "summary": "Person Search",
        "description": "This operation allows you to find a Profile based on first name, last name, company domain or email. It returns data profile and company information as the response. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This optional parameter is a string. It represents the first name to query."
          },
          {
            "name": "lastName",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This optional parameter is a string. It represents the last name to query."
          },
          {
            "name": "companyDomain",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This optional parameter is a string. It represents the company domain/URL to query"
          },
          {
            "name": "companyName",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This optional parameter is a string. It represents the company name to query"
          },
          {
            "name": "email",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the email to query."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileSearchResponseV0"
                },
                "examples": {
                  "ProfileFound": {
                    "$ref": "#/components/examples/ProfileSearchFoundV0"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/workspaces/quotas": {
      "get": {
        "tags": ["Workspaces"],
        "operationId": "WorkspacesQuotas",
        "summary": "Workspaces Quotas",
        "description": "This endpoint retrieves the quotas for a specific workspace, including the remaining credits (credits_left) and rate limit (rate_limit_left). It is designed to help monitor resource availability and ensure proper usage within the workspace.",
        "responses": {
          "200": {
            "description": "The endpoint returns information about the workspace quotas, including remaining credits (credits_left) and rate limit (rate_limit_left).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacesQuotas"
                },
                "examples": {
                  "QuotasFound": {
                    "$ref": "#/components/examples/QuotasFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/profile": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetProfileData",
        "summary": "Get Profile Data",
        "description": "This operation allows you to get profile data from an url. It returns profile data with credits and rate limit information. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                },
                "examples": {
                  "ProfileFound": {
                    "$ref": "#/components/examples/ProfileFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      },
      "post": {
        "tags": ["Person"],
        "operationId": "GetProfileData",
        "summary": "Get Profile Data",
        "description": "This operation allows you to get profile data from an url. It returns profile data with credits and rate limit information. This operation consumes 1 credit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedInUrl": {
                    "type": "string",
                    "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/."
                  },
                  "includes": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "This required parameter is an object. It specifies which additional data to include in the response.",
                    "properties": {
                      "includeCompany": {
                        "type": "boolean",
                        "description": "Include company information in the response."
                      },
                      "includeSummary": {
                        "type": "boolean",
                        "description": "Include summary information in the response."
                      },
                      "includeFollowersCount": {
                        "type": "boolean",
                        "description": "Include followers count in the response."
                      },
                      "includeCreationDate": {
                        "type": "boolean",
                        "description": "Include creation date in the response."
                      },
                      "includeSkills": {
                        "type": "boolean",
                        "description": "Include skills information in the response."
                      },
                      "includeLanguages": {
                        "type": "boolean",
                        "description": "Include languages information in the response."
                      },
                      "includeExperience": {
                        "type": "boolean",
                        "description": "Include experience information in the response."
                      },
                      "includeEducation": {
                        "type": "boolean",
                        "description": "Include education and schools information in the response."
                      },
                      "includeCertifications": {
                        "type": "boolean",
                        "description": "Include certifications in the response."
                      }
                    }
                  }
                },
                "required": ["linkedInUrl", "includes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The endpoint returns profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseV1"
                },
                "examples": {
                  "ProfileFound": {
                    "$ref": "#/components/examples/ProfileFoundV1"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/resolve/email": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetProfileDataFromEmail",
        "summary": "Get Profile Data From Email Address",
        "description": "This operation allows you to get profile data from email address. It returns profile data with credits and rate limit information. This operation consumes 5 credit.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the email to query.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                },
                "examples": {
                  "ProfileFound": {
                    "$ref": "#/components/examples/ProfileFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/match": {
      "post": {
        "tags": ["Person"],
        "operationId": "MatchProfile",
        "summary": "Match Profile",
        "description": "This operation allows you to match a single person profile from various parameters. It returns profile data with credits and rate limit information. This operation consumes 1 credit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "This optional parameter is a string. It represents the first name to body."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "This optional parameter is a string. It represents the last name to body."
                  },
                  "companyDomain": {
                    "type": "string",
                    "description": "This optional parameter is a string. It represents the company domain/URL to body. *You can use current or any previous company to that person."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "This optional parameter is a string. It represents the company name to body. *You can use current or any previous company to that person."
                  },
                  "email": {
                    "type": "string",
                    "description": "This optional parameter is a string. It represents the email to body."
                  },
                  "includes": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "This required parameter is an object. It specifies which additional data to include in the response.",
                    "properties": {
                      "includeCompany": {
                        "type": "boolean",
                        "description": "Include company information in the response."
                      },
                      "includeSummary": {
                        "type": "boolean",
                        "description": "Include summary information in the response."
                      },
                      "includeFollowersCount": {
                        "type": "boolean",
                        "description": "Include followers count in the response."
                      },
                      "includeCreationDate": {
                        "type": "boolean",
                        "description": "Include creation date in the response."
                      },
                      "includeSkills": {
                        "type": "boolean",
                        "description": "Include skills information in the response."
                      },
                      "includeLanguages": {
                        "type": "boolean",
                        "description": "Include languages information in the response."
                      },
                      "includeExperience": {
                        "type": "boolean",
                        "description": "Include experience information in the response."
                      },
                      "includeEducation": {
                        "type": "boolean",
                        "description": "Include education and schools information in the response."
                      },
                      "includeCertifications": {
                        "type": "boolean",
                        "description": "Include certifications in the response."
                      }
                    }
                  }
                },
                "required": ["includes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The endpoint returns profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponseV1"
                },
                "examples": {
                  "ProfileFound": {
                    "$ref": "#/components/examples/ProfileFoundV1"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/summary": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetSummary",
        "summary": "Get Summary",
        "description": "This operation allows you to get summary data. It returns a summary description with success status. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns summary information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummaryResponse"
                },
                "examples": {
                  "SummaryFound": {
                    "$ref": "#/components/examples/SummaryFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/followers-count": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetFollowersCount",
        "summary": "Get Followers Count",
        "description": "This operation allows you to get the followers count data. It returns the followers count with success status. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the followers count information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowersCountResponse"
                },
                "examples": {
                  "FollowersCountFound": {
                    "$ref": "#/components/examples/FollowersCountFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/experience": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetExperience",
        "summary": "Get Experience",
        "description": "This operation allows you to get experience data including work positions. It returns experience information with credits and rate limit information. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns experience information including work positions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                },
                "examples": {
                  "ExperienceFound": {
                    "$ref": "#/components/examples/ExperienceFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/education": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetEducation",
        "summary": "Get Education",
        "description": "This operation allows you to get education data including schools and degrees. It returns education information with credits and rate limit information. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns education information including schools and degrees.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationResponse"
                },
                "examples": {
                  "EducationFound": {
                    "$ref": "#/components/examples/EducationFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/skills": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetSkills",
        "summary": "Get Skills",
        "description": "This operation allows you to get skills data including endorsement counts. It returns skills information with credits and rate limit information. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns skills information including endorsement counts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillsResponse"
                },
                "examples": {
                  "SkillsFound": {
                    "$ref": "#/components/examples/SkillsFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/languages": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetLanguages",
        "summary": "Get Languages",
        "description": "This operation allows you to get languages data including proficiency levels. It returns languages information with credits and rate limit information. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns languages information including proficiency levels.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguagesResponse"
                },
                "examples": {
                  "LanguagesFound": {
                    "$ref": "#/components/examples/LanguagesFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/recommendations": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetRecommendations",
        "summary": "Get Recommendations",
        "description": "This operation allows you to get recommendations data from a profile. It returns recommendations information with credits and rate limit information. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns recommendations information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationsResponse"
                },
                "examples": {
                  "RecommendationsFound": {
                    "$ref": "#/components/examples/RecommendationsFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/certifications": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetCertifications",
        "summary": "Get Certifications",
        "description": "This operation allows you to get certifications data from a Social profile. It returns certifications information with credits and rate limit information. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns certifications information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationsResponse"
                },
                "examples": {
                  "CertificationsFound": {
                    "$ref": "#/components/examples/CertificationsFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/volunteering-experiences": {
      "get": {
        "tags": ["Person"],
        "operationId": "GetVolunteeringExperiences",
        "summary": "Get Volunteering Experiences",
        "description": "This operation allows you to get volunteering experiences data from a profile. It returns volunteering experiences information with credits and rate limit information. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the person with this format: https://www.social.com/in/xxxxxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns volunteering experiences information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolunteeringExperiencesResponse"
                },
                "examples": {
                  "VolunteeringExperiencesFound": {
                    "$ref": "#/components/examples/VolunteeringExperiencesFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/company/domain": {
      "get": {
        "tags": ["Company"],
        "operationId": "CompanySearch",
        "summary": "Company Search",
        "description": "This operation allows you to find a company from its domain name. It returns company information as the response. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the domain name of the company to query.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns information about the company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearch"
                },
                "examples": {
                  "CompanyFound": {
                    "$ref": "#/components/examples/CompanyFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/company": {
      "get": {
        "tags": ["Company"],
        "operationId": "ExtractCompanyDataProfile",
        "summary": "Extract Company Data Profile",
        "description": "This operation allows you to extract data from a Company URL. It returns company data as the response. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the company with this format: https://www.social.com/company/xxxxxxxxxx/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns information about the company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractCompanyDataProfile"
                },
                "examples": {
                  "CompanyFound": {
                    "$ref": "#/components/examples/CompanyProfileExtracted"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/jobs/search": {
      "get": {
        "tags": ["Job"],
        "operationId": "JobSearch",
        "summary": "Extract Job Search Data",
        "description": "This operation allows you to extract data from a Job Search by keywords, location and companyUrl filters. At least one of the input parameters is required. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. It returns a list of job data as the response. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the keywords contained by the job title.",
            "required": false
          },
          {
            "name": "location",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the location of the job. It can be the city, the region of the country name. \nSingle location string without separators or special characters. \nAllowed: letters, digits, spaces, and hyphens. \nExamples: \"France\", \"USA\", \"New York\", \"Saint-Etienne\". \nInvalid: \"USA; France\", \"Paris, France\", \"London;\".",
            "required": false
          },
          {
            "name": "companyUrl",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the company with this format: https://www.social.com/company/xxxxxxxxxx/.",
            "required": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "enum": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            },
            "description": "This optional parameter is a string. It represents the page number of the results."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns a list of jobs.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobSearch" },
                "examples": {
                  "JobFound": {
                    "$ref": "#/components/examples/JobListExtracted"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/jobs/details": {
      "get": {
        "tags": ["Job"],
        "operationId": "ExtractJobData",
        "summary": "Extract Job Data",
        "description": "This operation allows you to extract data from a Job URL. It returns job data as the response. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Social URL of the job with the following formats: https://www.social.com/jobs/collections/recommended/?currentJobId=XXXXXXXXXX, https://www.social.com/jobs/search/?currentJobId=XXXXXXXXXX or https://www.social.com/jobs/view/XXXXXXXXXX/.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns information about the job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractJobData"
                },
                "examples": {
                  "JobFound": {
                    "$ref": "#/components/examples/JobExtracted"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/persons/activities/post": {
      "get": {
        "tags": ["Person"],
        "operationId": "PersonsActivitiesPost",
        "summary": "Get Person Activities Post",
        "description": "This operation allows you to retrieve the activity post details of a person based on their activity post ID. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "This parameter is a string. It represents the ID of the activity post you want to retrieve."
          },
          {
            "name": "postId",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "This parameter is a string. It represents the ID of the post you want to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity post from activityId or postId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesPost"
                },
                "examples": {
                  "Activities Post Found": {
                    "$ref": "#/components/examples/ActivitiesPost"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/persons/activities/posts": {
      "get": {
        "tags": ["Person"],
        "operationId": "PersonsActivitiesPosts",
        "summary": "Get Person Activities Posts",
        "description": "This operation allows you to retrieve the last 50 activity posts of a person based on their Profile URL. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents Profile URL you want to retrieve all activity posts."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity posts from the Profile URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesPosts"
                },
                "examples": {
                  "Activities Posts Found": {
                    "$ref": "#/components/examples/ActivitiesPosts"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/persons/activities/comments": {
      "get": {
        "tags": ["Person"],
        "operationId": "PersonsActivitiesComments",
        "summary": "Get Person Activities Comments",
        "description": "This operation allows you to retrieve the last 50 activity comments of a person based on their Profile URL. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Profile URL you want to retrieve all activity comments."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity comments from the Profile URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesComments"
                },
                "examples": {
                  "Activities Comments Found": {
                    "$ref": "#/components/examples/ActivitiesComments"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/persons/activities/reactions": {
      "get": {
        "tags": ["Person"],
        "operationId": "PersonsActivitiesReactions",
        "summary": "Get Person Activities Reactions",
        "description": "This operation allows you to retrieve the last 50 activity reactions of a person based on their Profile URL. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Profile URL you want to retrieve all activity reactions."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity reactions from the Profile URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesReactions"
                },
                "examples": {
                  "Activities Reactions Found": {
                    "$ref": "#/components/examples/ActivitiesReactions"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/persons/activities/post/comments": {
      "get": {
        "tags": ["Person"],
        "operationId": "PersonsActivitiesPostComments",
        "summary": "Get Person Activities Post Comments",
        "description": "This operation allows you to retrieve all comments on activity post of a person based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the ID of the activity post you want to retrieve comments."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "This optional parameter is a string. It represents the page number of the results."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity post comments from activityId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesComment"
                },
                "examples": {
                  "Activities Post Comments Found": {
                    "$ref": "#/components/examples/ActivitiesComment"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/persons/activities/post/reactions": {
      "get": {
        "tags": ["Person"],
        "operationId": "PersonsActivitiesPostReactions",
        "summary": "Get Person Activities Post Reactions",
        "description": "This operation allows you to retrieve all reactions on activity post of a person based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the ID of the activity post you want to retrieve reactions."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "This optional parameter is a string. It represents the page number of the results."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity post reactions from activityId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesReaction"
                },
                "examples": {
                  "Activities Post Reactions Found": {
                    "$ref": "#/components/examples/ActivitiesReaction"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/persons/activities/post/reposts": {
      "get": {
        "tags": ["Person"],
        "operationId": "PersonsActivitiesPostReposts",
        "summary": "Get Person Activities Post Reposts",
        "description": "This operation allows you to retrieve all reposts on activity post of a person based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the ID of the activity post you want to retrieve reposts."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "This optional parameter is a string. It represents the page number of the results."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity post reposts from activityId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesRepost"
                },
                "examples": {
                  "Activities Post Reposts Found": {
                    "$ref": "#/components/examples/ActivitiesRepost"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/companies/activities/post": {
      "get": {
        "tags": ["Company"],
        "operationId": "CompaniesActivitiesPost",
        "summary": "Get Company Activities Post",
        "description": "This operation allows you to retrieve the activity post details of a company based on their activity post ID. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the ID of the activity post you want to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity post from activityId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesPost"
                },
                "examples": {
                  "Activities Post Found": {
                    "$ref": "#/components/examples/ActivitiesPost"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/companies/activities/posts": {
      "get": {
        "tags": ["Company"],
        "operationId": "CompaniesActivitiesPosts",
        "summary": "Get Company Activities Posts",
        "description": "This operation allows you to retrieve all activity posts of a company based on their Profile URL. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the Profile URL you want to retrieve all activity posts."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "This optional parameter is a string. It represents the page number of the results."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity posts from the Profile URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyActivitiesPosts"
                },
                "examples": {
                  "Activities Posts Found": {
                    "$ref": "#/components/examples/CompanyActivitiesPosts"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/companies/activities/post/comments": {
      "get": {
        "tags": ["Company"],
        "operationId": "CompaniesActivitiesPostComments",
        "summary": "Get Company Activities Post Comments",
        "description": "This operation allows you to retrieve all comments on activity post of a company based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the ID of the activity post you want to retrieve comments."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "This optional parameter is a string. It represents the page number of the results."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity post comments from activityId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesComment"
                },
                "examples": {
                  "Activities Post Comments Found": {
                    "$ref": "#/components/examples/ActivitiesComment"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/companies/activities/post/reactions": {
      "get": {
        "tags": ["Company"],
        "operationId": "CompaniesActivitiesPostReactions",
        "summary": "Get Company Activities Post Reactions",
        "description": "This operation allows you to retrieve all reactions on activity post of a company based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the ID of the activity post you want to retrieve reactions."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "This optional parameter is a string. It represents the page number of the results."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity post reactions from activityId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesReaction"
                },
                "examples": {
                  "Activities Post Reactions Found": {
                    "$ref": "#/components/examples/ActivitiesReaction"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/enrichment/companies/activities/post/reposts": {
      "get": {
        "tags": ["Company"],
        "operationId": "CompaniesActivitiesPostReposts",
        "summary": "Get Company Activities Post Reposts",
        "description": "This operation allows you to retrieve all reposts on activity post of a company based on their activity post ID. Pagination is limited to 10 pages, with a maximum of 50 items per page, allowing retrieval of up to 500 items. This operation consumes 1 credit.",
        "parameters": [
          {
            "name": "activityId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "This required parameter is a string. It represents the ID of the activity post you want to retrieve reposts."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "This optional parameter is a string. It represents the page number of the results."
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint returns the activity post reposts from activityId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesRepost"
                },
                "examples": {
                  "Activities Post Reposts Found": {
                    "$ref": "#/components/examples/ActivitiesRepost"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/workspaces/quotas": {
      "get": {
        "tags": ["Workspaces"],
        "operationId": "WorkspacesQuotas",
        "summary": "Workspaces Quotas",
        "description": "This endpoint retrieves the quotas for a specific workspace, including the remaining credits (credits_left) and rate limit (rate_limit_left). It is designed to help monitor resource availability and ensure proper usage within the workspace.",
        "responses": {
          "200": {
            "description": "The endpoint returns information about the workspace quotas, including remaining credits (credits_left) and rate limit (rate_limit_left).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacesQuotas"
                },
                "examples": {
                  "QuotasFound": {
                    "$ref": "#/components/examples/QuotasFound"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProfileSearchResponseV0": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "email": {
            "type": "string",
            "description": "Represents the email of the person account that was queried"
          },
          "emailType": {
            "type": "string",
            "description": "Represents the type of account."
          },
          "person": {
            "oneOf": [
              { "$ref": "#/components/schemas/Person" },
              { "type": "boolean", "enum": [false] }
            ]
          },
          "company": {
            "oneOf": [
              { "$ref": "#/components/schemas/Company" },
              { "type": "boolean", "enum": [false] }
            ]
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          }
        }
      },
      "ProfileResponseV0": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "The usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "The usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "person": {
            "oneOf": [
              { "$ref": "#/components/schemas/Person" },
              { "type": "boolean", "enum": [false] }
            ]
          },
          "company": {
            "oneOf": [
              { "$ref": "#/components/schemas/Company" },
              { "type": "boolean", "enum": [false] }
            ]
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "person": {
            "$ref": "#/components/schemas/PersonProfile"
          }
        }
      },
      "PersonProfile": {
        "type": "object",
        "properties": {
          "publicIdentifier": {
            "type": "string",
            "description": "Public identifier of the person"
          },
          "linkedInIdentifier": {
            "type": "string",
            "description": "Social identifier of the person"
          },
          "memberIdentifier": {
            "type": "string",
            "description": "Member identifier of the person"
          },
          "linkedInUrl": {
            "type": "string",
            "description": "Social URL of the person"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the person"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the person"
          },
          "headline": {
            "type": "string",
            "description": "Professional headline of the person"
          },
          "location": {
            "$ref": "#/components/schemas/PersonLocation"
          },
          "photoUrl": {
            "type": "string",
            "description": "URL to the person's profile photo"
          },
          "backgroundUrl": {
            "type": "string",
            "description": "URL to the person's background image"
          },
          "openToWork": {
            "type": "boolean",
            "description": "Indicates if the person is open to work"
          },
          "premium": {
            "type": "boolean",
            "description": "Indicates if the person has a premium Social account"
          },
          "pronoun": {
            "type": "string",
            "description": "Preferred pronoun of the person"
          },
          "showVerificationBadge": {
            "type": "boolean",
            "description": "Indicates if the person shows verification badge"
          }
        }
      },
      "PersonLocation": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City where the person is located"
          },
          "state": {
            "type": "string",
            "description": "State where the person is located"
          },
          "country": {
            "type": "string",
            "description": "Country where the person is located"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the person is located"
          }
        }
      },
      "SummaryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "summary": {
            "type": "string",
            "description": "A summary description of the person or entity."
          }
        }
      },
      "FollowersCountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "followersCount": {
            "type": "string",
            "description": "The number of followers of the person."
          }
        }
      },
      "ExperienceResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "positions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Position" },
            "description": "Array of work experience positions"
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Job title or position name"
          },
          "companyName": {
            "type": "string",
            "description": "Name of the company"
          },
          "description": {
            "type": "string",
            "description": "Description of the position or role"
          },
          "startEndDate": {
            "$ref": "#/components/schemas/StartEndDate",
            "description": "Start and end dates of the position"
          },
          "companyLogo": {
            "type": "string",
            "format": "uri",
            "description": "URL to the company logo image"
          },
          "linkedInUrl": {
            "type": "string",
            "format": "uri",
            "description": "Social URL of the company"
          },
          "linkedInId": {
            "type": "string",
            "description": "Social identifier of the company"
          }
        }
      },
      "StartEndDate": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the position in ISO 8601 format"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "End date of the position in ISO 8601 format, null if current position"
          }
        }
      },
      "EducationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "schools": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/School" },
            "description": "Array of education schools and degrees"
          }
        }
      },
      "School": {
        "type": "object",
        "properties": {
          "degreeName": {
            "type": "string",
            "description": "Name of the degree or program"
          },
          "fieldOfStudy": {
            "type": "string",
            "description": "Field of study or specialization"
          },
          "description": {
            "type": "string",
            "description": "Description of the degree or program"
          },
          "linkedInUrl": {
            "type": "string",
            "format": "uri",
            "description": "Social URL of the school"
          },
          "schoolLogo": {
            "type": "string",
            "format": "uri",
            "description": "URL to the school logo image"
          },
          "schoolName": {
            "type": "string",
            "description": "Name of the educational institution"
          },
          "startEndDate": {
            "$ref": "#/components/schemas/StartEndDate",
            "description": "Start and end dates of the education period"
          }
        }
      },
      "SkillsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "skills": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Skill" },
            "description": "Array of skills with endorsement counts"
          }
        }
      },
      "Skill": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the skill"
          },
          "endorsementCount": {
            "type": "integer",
            "description": "Number of endorsements for this skill"
          }
        },
        "required": ["name"]
      },
      "LanguagesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "languages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Language" },
            "description": "Array of languages with proficiency levels"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "Name of the language"
          },
          "proficiency": {
            "type": "string",
            "description": "Proficiency level in the language"
          }
        },
        "required": ["language", "proficiency"]
      },
      "Post": {
        "type": "object",
        "properties": {
          "text": { "type": "string", "description": "Content of the post" },
          "likesCount": {
            "type": "integer",
            "description": "Number of likes on the post"
          },
          "commentsCount": {
            "type": "integer",
            "description": "Number of comments on the post"
          },
          "activityDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the post was created"
          },
          "author": {
            "type": "object",
            "description": "Information about the post author",
            "properties": {
              "authorId": {
                "type": "string",
                "description": "Unique identifier of the post author"
              },
              "authorName": {
                "type": "string",
                "description": "Name of the post author"
              },
              "authorPublicIdentifier": {
                "type": "string",
                "description": "Public identifier of the post author"
              }
            }
          },
          "activityUrl": {
            "type": "string",
            "description": "URL of the post"
          },
          "isRepublishedPost": {
            "type": "boolean",
            "description": "Indicates if this post is a republished post from another user"
          },
          "relatedPost": {
            "type": "object",
            "description": "Information about the original post if this is a republished post",
            "properties": {
              "text": {
                "type": "string",
                "description": "Content of the related post"
              },
              "likesCount": {
                "type": "integer",
                "description": "Number of likes on the related post"
              },
              "commentsCount": {
                "type": "integer",
                "description": "Number of comments on the related post"
              },
              "activityDate": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time when the related post was created"
              },
              "authorId": {
                "type": "string",
                "description": "Unique identifier of the related post author"
              },
              "authorPublicIdentifier": {
                "type": "string",
                "description": "Public identifier of the related post author"
              },
              "authorName": {
                "type": "string",
                "description": "Name of the related post author"
              },
              "activityUrl": {
                "type": "string",
                "description": "URL of the related post"
              },
              "relatedPost": {
                "type": "object",
                "nullable": true,
                "description": "Nested related post (if any)"
              }
            }
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Content of the comment"
          },
          "likesCount": {
            "type": "integer",
            "description": "Number of likes on the comment"
          },
          "commentsCount": {
            "type": "integer",
            "description": "Number of replies to the comment"
          },
          "activityDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the comment was created"
          },
          "authorId": {
            "type": "string",
            "description": "Unique identifier of the comment author"
          },
          "authorName": {
            "type": "string",
            "description": "Name of the comment author"
          },
          "authorPublicIdentifier": {
            "type": "string",
            "description": "Public identifier of the comment author"
          },
          "post": {
            "$ref": "#/components/schemas/Post",
            "description": "The post on which this comment was made"
          },
          "activityUrl": {
            "type": "string",
            "description": "URL of the comment"
          }
        }
      },
      "Reaction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of reaction (e.g., \"LIKE\", \"CELEBRATE\", etc.)"
          },
          "activityDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the reaction was made"
          },
          "authorId": {
            "type": "string",
            "description": "Unique identifier of the person who made the reaction"
          },
          "authorName": {
            "type": "string",
            "description": "Name of the person who made the reaction"
          },
          "authorPublicIdentifier": {
            "type": "string",
            "description": "Public identifier of the person who made the reaction"
          },
          "relatedPost": {
            "$ref": "#/components/schemas/Post",
            "description": "The post on which this reaction was made"
          },
          "relatedComment": {
            "$ref": "#/components/schemas/Comment",
            "nullable": true,
            "description": "The comment on which this reaction was made (if applicable)"
          },
          "activityUrl": {
            "type": "string",
            "description": "URL of the reaction"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "description": { "type": "string" },
          "employeeCount": { "type": "number" },
          "employeeCountRange": {
            "type": "object",
            "properties": {
              "start": { "type": "number" },
              "end": { "type": "number" }
            }
          },
          "followerCount": { "type": "number" },
          "headquarter": {
            "type": "object",
            "properties": {
              "city": { "type": "string" },
              "country": { "type": "string" },
              "geographicArea": { "type": "string" },
              "postalCode": { "type": "string" },
              "street1": { "type": "string" },
              "street2": { "type": "string" }
            }
          },
          "industry": { "type": "string" },
          "linkedInId": { "type": "string" },
          "linkedInUrl": { "type": "string" },
          "name": { "type": "string" },
          "specialities": { "type": "array", "items": { "type": "string" } },
          "tagline": { "type": "string" },
          "universalName": { "type": "string" },
          "websiteUrl": { "type": "string" }
        }
      },
      "CompanySearch": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "company": {
            "oneOf": [
              { "$ref": "#/components/schemas/Company" },
              { "type": "boolean", "enum": [false] }
            ]
          }
        }
      },
      "ExtractCompanyDataProfile": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "company": {
            "oneOf": [
              { "$ref": "#/components/schemas/Company" },
              { "type": "boolean", "enum": [false] }
            ]
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "linkedinIdentifier": { "type": "string" },
          "title": { "type": "string" },
          "companyName": { "type": "string" },
          "companyLogo": { "type": "string" },
          "description": { "type": "string" },
          "location": { "type": "string" },
          "url": { "type": "string" },
          "creationDate": { "type": "string" },
          "repostedJob": { "type": "boolean" },
          "repostDate": { "type": "string" },
          "applicantsCount": { "type": "number" },
          "flexibility": { "type": "string" },
          "experienceLevel": { "type": "string" },
          "contractType": { "type": "string" }
        }
      },
      "JobSearch": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "metadata": {
            "description": "Metadata information",
            "$ref": "#/components/schemas/Metadata"
          },
          "jobs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Job" },
            "description": "Array of jobs"
          }
        }
      },
      "ExtractJobData": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates success or failure of api request."
          },
          "credits_left": {
            "type": "integer",
            "description": "Represents the usable credits available for the user account after this query."
          },
          "rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "daily_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable daily request limit available for the user account after this query."
          },
          "minute_rate_limit_left": {
            "type": "integer",
            "description": "Represents the usable minute request limit available for the user account after this query."
          },
          "next_minute_rate_limit_reset": {
            "type": "integer",
            "description": "Represents the next minute rate limit reset for the user account after this query."
          },
          "job": {
            "oneOf": [
              { "$ref": "#/components/schemas/Job" },
              { "type": "boolean", "enum": [false] }
            ]
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "currentPage": {
            "type": "integer",
            "description": "The current page number being viewed."
          },
          "pageNumber": {
            "type": "integer",
            "description": "The total number of available pages."
          },
          "perPage": {
            "type": "integer",
            "description": "The number of items displayed per page."
          },
          "total": {
            "type": "integer",
            "description": "The total number of items available."
          }
        }
      },
      "PostV2": {
        "properties": {
          "activityId": {
            "type": "string",
            "description": "Unique identifier of the activity."
          },
          "text": { "type": "string", "description": "Content of the post." },
          "reactionsCount": {
            "type": "integer",
            "description": "Number of reactions on the post."
          },
          "commentsCount": {
            "type": "integer",
            "description": "Number of comments on the post."
          },
          "activityDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time of the activity."
          },
          "author": {
            "type": "object",
            "description": "Information about the author of the post.",
            "properties": {
              "authorId": {
                "type": "string",
                "description": "Unique identifier of the author."
              },
              "authorName": {
                "type": "string",
                "description": "Full name of the author."
              },
              "authorPublicIdentifier": {
                "type": "string",
                "description": "Public identifier of the author."
              },
              "authorHeadline": {
                "type": "string",
                "description": "Headline or title of the author."
              },
              "authorImage": {
                "type": "string",
                "format": "uri",
                "description": "URL to the author's profile image."
              },
              "authorUrl": {
                "type": "string",
                "format": "uri",
                "description": "URL to the author's Social profile."
              }
            }
          },
          "activityUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the activity."
          },
          "shareUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the activity share format."
          },
          "relatedPost": {
            "type": "object",
            "description": "Related post information.",
            "properties": {
              "text": {
                "type": "string",
                "description": "Content of the related post."
              },
              "activityDate": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time of the related post activity."
              },
              "author": {
                "type": "object",
                "description": "Information about the author of the related post.",
                "properties": {
                  "authorId": {
                    "type": "string",
                    "description": "Unique identifier of the author."
                  },
                  "authorName": {
                    "type": "string",
                    "description": "Full name of the author."
                  },
                  "authorPublicIdentifier": {
                    "type": "string",
                    "description": "Public identifier of the author."
                  },
                  "authorHeadline": {
                    "type": "string",
                    "description": "Headline or description of the author."
                  },
                  "authorUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to the author's profile."
                  }
                }
              },
              "activityUrl": {
                "type": "string",
                "format": "uri",
                "description": "URL of the related post."
              },
              "shareUrl": {
                "type": "string",
                "format": "uri",
                "description": "URL of the activity share format."
              }
            }
          }
        }
      },
      "PostsV2": {
        "properties": {
          "text": {
            "type": "string",
            "description": "The text content of the comment."
          },
          "reactionsCount": {
            "type": "integer",
            "description": "The number of reactions on the comment."
          },
          "commentsCount": {
            "type": "integer",
            "description": "The number of comments (replies) on the comment."
          },
          "activityDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of the activity in ISO 8601 format."
          },
          "author": {
            "type": "object",
            "description": "Information about the author of the comment.",
            "properties": {
              "authorId": {
[...]
